<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:a4j="http://richfaces.org/a4j"
                xmlns:rich="http://richfaces.org/rich">


    <h:panelGrid id="edit_grid" columns="1" 
                 columnClasses="filter-rows,filter-rows,filter-rows,filter-rows,filter-rows,filter-rows"
                 styleClass="single-column-directory-table">

        <h:panelGroup class="input-group input-group-sm">
            <h:outputLabel id="label_name" for="name_field" styleClass="input-group-addon single-column-directory-label" value="Название:" />
            <h:inputText id="name_field" value="#{ProductImages.entity.name}" styleClass="form-control" 
                         required="true" requiredMessage="Поле 'Название' обязательно к заполнению."/>
        </h:panelGroup>  

        <h:panelGroup class="input-group input-group-sm">
            <h:outputLabel id="label_okp" for="okp_field" styleClass="input-group-addon single-column-directory-label" value="Код ОКП" />
            <h:inputText id="okp_field" value="#{ProductImages.entity.okpCode}" styleClass="form-control" 
                         required="true" requiredMessage="Поле 'Код ОКП' обязательно к заполнению."/>
        </h:panelGroup>  

        <h:panelGroup class="input-group input-group-sm">
            <h:outputLabel id="label_measure" for="measure_input_field" value="Единицы измерения"
                           styleClass="input-group-addon single-column-directory-label"/>
            <rich:autocomplete id="measure_input_field" mode="client" autocompleteList="#{Measures.allMeasures}" 
                               value="#{ProductImages.entity.baseMeasure}" var="measure" fetchValue="#{measure.name}"  
                               layout="table" selectFirst="true" converter="MeasureConverter" 
                               inputClass="form-control" minChars="2">
                <rich:column>
                    <h:outputText value="#{measure.name}" />
                </rich:column>
            </rich:autocomplete>
        </h:panelGroup>

        <h:panelGroup class="input-group input-group-sm">
            <h:outputLabel id="label_prodCat" for="prodCat_field" value="Категория"
                           styleClass="input-group-addon single-column-directory-label"/>
            <h:selectOneMenu id="prodCat_field"
                             value="#{ProductImages.entity.productCategory}" styleClass="form-control" 
                             converter="JbalanceEntityConverter"
                             >
                <f:selectItem itemValue="#{null}" itemLabel="" />
                <f:selectItems value="#{ProductCategories.list}" var="prodCat"
                               itemLabel="#{prodCat.name}"
                               itemValue="#{prodCat}"/>
            </h:selectOneMenu>
        </h:panelGroup>
        <h:panelGroup class="input-group input-group-sm" id="losts">
            <h:outputLabel for="prodCat_field" value="Потери"
                           styleClass="input-group-addon single-column-directory-label"/>
            <table class="table table-bordered table-striped">
                <tr>
                    <td>Период</td>
                    <td>Процент потерь</td>
                    <td></td>
                </tr>
                <a4j:repeat value="#{ProductImages.entity.losts}" var="v" rowKeyVar="i">
                    <tr>
                        <td><h:outputText value="#{ProductImages.getMonth(ProductImages.entity.getColdProcessingPeriodStart(v))} #{ProductImages.getMonth(v.periodEnd)}  "/></td>
                        <td><h:outputText value="#{v.percent}"/></td>
                        <td><a4j:commandLink  action="#{ProductImages.removeLost(v)}" value="удалить" render="losts"/></td>
                    </tr>
                </a4j:repeat>

                <tr>
                    <td>
                        <h:selectOneMenu value="#{ProductImages.lost.periodEnd}" 
                                         styleClass="form-control" 
                                         >
                            <f:selectItems value="#{ProductImages.months}" var="month"
                                           itemLabel="#{month}"
                                           itemValue="#{ProductImages.getMonthIndex(month)}"/>
                        </h:selectOneMenu>
                    </td>
                    <td><h:inputText value="#{ProductImages.lost.percent}"/></td>
                    <td><a4j:commandLink  action="#{ProductImages.addLost()}" value="Добавить" render="losts" execute="@form" /></td>
                </tr>
            </table>
        </h:panelGroup>

    </h:panelGrid>
</ui:composition>