<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:a4j="http://richfaces.org/a4j"
                xmlns:rich="http://richfaces.org/rich">	
	<h:form id="entities_form">
		<a4j:outputPanel ajaxRendered="true">
			<ui:decorate template="/templates/listEditTemplate.xhtml">
				<ui:param name="bean" value="#{PackingUIBean}"/>
				<ui:param name="tableColumns" value="/secure/product/productimage/includes/packingColumns.xhtml"/>
			</ui:decorate>
		</a4j:outputPanel>
		<h:panelGrid id="add_panel" columns="1"  width="100%"
							 class="table-responsive" columnClasses="left-panel,right-panel">
			<a4j:commandLink id="add_row" styleClass="filter-button btn btn-primary" 
							execute="@this" render="@form"
							action="#{PackingUIBean.addNotPersistent}">
			   <h:outputText id="label_add_row" value="Добавить запись"/>
		   </a4j:commandLink>
		</h:panelGrid>
	</h:form>
	
</ui:composition>
	