<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:a4j="http://richfaces.org/a4j"
                xmlns:rich="http://richfaces.org/rich">

<!--	<f:facet name="header">
        <rich:columnGroup>
            <rich:column breakRowBefore="true">
				<h:outputText id="packing_name_header" value="Название фасовки"/>
            </rich:column>
            <rich:column>
				<h:outputText id="measure_header" value="Единицы измерения"/>
            </rich:column>
        </rich:columnGroup>
    </f:facet>-->
	
    <rich:column id="image_name" styleClass="medium_column" colspan="4">
		<f:facet name="header" >
				
			<rich:column colspan="5">
				<h:outputText id="image_name_header" value="Образ"/>
			</rich:column>
        </f:facet>
        <b>
            <h:outputText value="#{ent.name}" />
        </b>
    </rich:column>
</ui:composition>