<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:a4j="http://richfaces.org/a4j"
                xmlns:rich="http://richfaces.org/rich">
    <rich:collapsibleSubTable var="packing" value="#{PackingUIBean.getList(ent)}" rowKeyVar="rowKey">
		<rich:column colspan="2" styleClass="medium_column" rowspan="#{PackingUIBean.list.size()}" rendered="#{rowKey eq 0}">
            <h:outputText value="Фасовки:"/>
        </rich:column>
        <rich:column styleClass="large_column">
            <h:outputText value="#{packing.name}"/>
        </rich:column>
		<rich:column styleClass="large_column">
            <h:outputText value="#{packing.measure.name}"/>
        </rich:column>
        <rich:column styleClass="medium_column">
            <h:outputText rendered="#{packing.quantity != null}" value="#{packing.quantity} #{packing.image.baseMeasure.rusShortName1}"/>
        </rich:column>
        <rich:column styleClass="small_column" colspan="2">
            <h:commandLink styleClass="no-decor action_link" execute="@this"
                             action="/secure/product/packingFlowChart/list.xhtml?faces-redirect=true"
                    >
                <h:graphicImage value="/images/document_icon.jpg" alt="Технологическее карты"
                                width="20" height="20" title="РТехнологическее карты"/>
                <f:setPropertyActionListener target="#{PackingFlowChartUI.imageFilterValue}" value="#{packing.image}"/>
                <f:setPropertyActionListener target="#{PackingFlowChartUI.packing}" value="#{packing}"/>
            </h:commandLink>

            <a4j:commandLink styleClass="no-decor action_link" execute="@this"
                           action="/secure/product/packingFlowChart/add.xhtml?faces-redirect=true"
                    >
                <h:graphicImage value="/images/document_icon.jpg" alt="Добавить тех. карту"
                                width="20" height="20" title="Добавить тех. карту"/>
                <a4j:ajax event="click" listener="#{PackingFlowChartUI.addNewDirectoryObject}"/>
                <f:setPropertyActionListener target="#{PackingFlowChartUI.image}" value="#{packing.image}"/>
                <f:setPropertyActionListener target="#{PackingFlowChartUI.entity.targetPacking}" value="#{packing}"/>
            </a4j:commandLink>
        </rich:column>
    </rich:collapsibleSubTable>
</ui:composition>