<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:a4j="http://richfaces.org/a4j"
                xmlns:rich="http://richfaces.org/rich">
    <rich:column id="product" styleClass="medium_column">
        <f:facet name="header">
            <h:outputText id="product_header" value="Описание фасовки"/>
        </f:facet>
        <rich:inplaceInput styleClass="form-control" value="#{ent.name}" editEvent="dblclick" saveOnBlur="true">
            <a4j:ajax event="change" listener="#{PackingUIBean.setEntity(ent)}" />  
            <a4j:ajax event="change" render="@form" listener="#{PackingUIBean.modifyAction}" execute="@form"/>  
        </rich:inplaceInput>
    </rich:column>
	
	<rich:column id="measure" styleClass="small_column">
        <f:facet name="header">
            <h:outputText id="measure_header" value="единицы измерения" />
        </f:facet>
		<a4j:commandLink id="measure_output" styleClass="no-decor action_link" execute="@this" 
						 render="@none" limitRender="true" value="#{ent.measure.name}" style="display: block; width: 100%; height: 30px"
						 ondblclick="
								#{rich:element('measure_input_field')}.style.display='';
								#{rich:element('measure_output')}.style.display='none';
								document.getElementById('#{rich:clientId('measure_input_field')}Input').focus();
								document.getElementById('#{rich:clientId('measure_input_field')}Input').select();"
					>
			<f:setPropertyActionListener target="#{ent.measure}" value="#{null}"/>
		</a4j:commandLink>
		<rich:autocomplete id="measure_input_field"  mode="client" autocompleteList="#{Measures.allMeasures}" 
						   value="#{ent.measure}" var="measure" fetchValue="#{measure.name}"  
						   layout="table" selectFirst="true" converter="MeasureConverter" 
						   inputClass="form-control" minChars="2" style="display:none"
						   onblur="
						   #{rich:element('measure_input_field')}.style.display='none';
						   #{rich:element('measure_output')}.style.display='block';
						   #{rich:element('measure_output')}.style.width='100%';
						   #{rich:element('measure_output')}.style.display='30px';">
            <rich:column>
                <h:outputText value="#{measure.name}" />
            </rich:column>
			<a4j:ajax event="selectitem" listener="#{PackingUIBean.setEntity(ent)}" />  
            <a4j:ajax event="selectitem" listener="#{PackingUIBean.modifyAction}" 
					  render="@form" execute="@form" limitRender="true"/>
        </rich:autocomplete>
    </rich:column>

	<rich:column id="quantity" styleClass="medium_column">
		<f:facet name="header">
			<h:outputText id="quantity_header" value="Вес единицы на выходе"/>
		</f:facet>
		<rich:inplaceInput styleClass="form-control" value="#{ent.quantity}" editEvent="dblclick" saveOnBlur="true">
			<a4j:ajax event="change" listener="#{PackingUIBean.setEntity(ent)}" />
			<a4j:ajax event="change" render="@form" listener="#{PackingUIBean.modifyAction}" execute="@form"/>
		</rich:inplaceInput>
	</rich:column>

</ui:composition>