<ui:composition xmlns="http://www.w3.org/1999/xhtml" 
				xmlns:h="http://java.sun.com/jsf/html" 
				xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets" 
                xmlns:a4j="http://richfaces.org/a4j"
                xmlns:rich="http://richfaces.org/rich">


<style type="text/css">
	.change-selected-link{
		margin-left: 5px;
	}
</style>
	<a4j:outputPanel id="kladr_region_#{id}" ajaxRendered="true">
		<rich:panel style="width: 100%">
			<h:panelGrid id="kladr_edit_grid_#{id}" columns="1" style="width: 100%"
			columnClasses="filter-rows,filter-rows,filter-rows,filter-rows,filter-rows,filter-rows">
				<h:panelGroup>
					Данные из справочника КЛАДР

					<a4j:status id="sugessions_#{id}" >
						<f:facet name="start">
							<h:graphicImage value="/images/ai.gif" alt="ai" />
						</f:facet>
					</a4j:status>
				</h:panelGroup>
				<h:panelGroup />

				<h:panelGroup class="input-group input-group-sm">
					<h:outputLabel id="label_isPostOfficeBox_#{id}" for="isPostOfficeBox_field_#{id}" styleClass="input-group-addon single-column-directory-label" value="Абонентский ящик?" />
					<h:selectBooleanCheckbox id="isPostOfficeBox_field_#{id}" value="#{addressHelperBean.isPostOfficeBox}" styleClass="form-control"
						>
					<a4j:ajax event="change" execute="@this" render="kladr_edit_grid_#{id}"
							listener="#{addressHelperBean.isPostOfficeBoxChanged}"/>
					</h:selectBooleanCheckbox>
				</h:panelGroup>

				<h:panelGroup class="input-group input-group-sm">
					<h:outputLabel id="label_zipCode_#{id}" for="zipCode_field_#{id}" styleClass="input-group-addon single-column-directory-label" value="Индекс:" />
					<h:inputText id="zipCode_field_#{id}"  styleClass="form-control"
						value="#{addressHelperBean.zipCode}"
						maxlength="6"
						readonly="#{not addressHelperBean.isPostOfficeBox}"/>
				</h:panelGroup>

				<h:panelGroup class="input-group input-group-sm">
					<h:outputLabel id="label_country_#{id}" for="country_field_#{id}" styleClass="input-group-addon single-column-directory-label" value="Страна:" />
					<h:inputText id="country_field_#{id}"  styleClass="form-control"
					value="#{addressHelperBean.countryName}" readonly="true"/>
				</h:panelGroup>

				<!--<h:panelGroup class="input-group input-group-sm" rendered="{not addressHelperBean.isPostOfficeBox}">-->
					<!--<h:outputLabel id="label_region_{id}" for="region_field_{id}" styleClass="input-group-addon single-column-directory-label" value="Регион:" />-->
					<!--<h:inputText id="region_field_{id}"  styleClass="form-control"-->
						<!--value="{addressHelperBean.regionName}" readonly="true" />-->
				<!--</h:panelGroup>-->

				<!-- REGION -->


				<h:panelGroup class="input-group input-group-sm">
					<h:outputLabel id="label_region_#{id}" for="region_field_#{id}" styleClass="input-group-addon single-column-directory-label" value="Регион:" />
					<h:inputText id="region_field_#{id}" value="#{addressHelperBean.regionNamePrefix}"
						styleClass="form-control"
						rendered="#{not addressHelperBean.regionSelected}">
						<a4j:ajax event="keyup" render="region_sugession_panel_#{id}" limitRender="true"/>
					</h:inputText>
					<h:outputText value="#{addressHelperBean.region.formalName} #{addressHelperBean.region.shortName}"  rendered="#{addressHelperBean.regionSelected}"/>
					<a4j:commandLink action="#{addressHelperBean.unselectRegion}"
						rendered="#{addressHelperBean.regionSelected}"
	       			 	execute="@this" render="kladr_edit_grid_#{id}"
						styleClass="change-selected-link">
						<h:graphicImage value="/images/cross.png" alt="Изменить"
						width="20" height="20" title="Изменить"/>
					</a4j:commandLink>
				</h:panelGroup>


				<h:panelGroup id="region_sugession_panel_#{id}" class="input-group input-group-sm" rendered="#{not(addressHelperBean.regionSelected)}">
					<a4j:repeat value="#{addressHelperBean.regionSugessionList}"  var="region">
						<a4j:commandLink value="#{region.formalName} #{region.shortName}"
							action="#{addressHelperBean.selectRegion(region)}"
							execute="kladr_edit_grid_#{id}" render="kladr_edit_grid_#{id}"
						/>
						<br />

					</a4j:repeat>
				</h:panelGroup>

				<!-- CITY -->


				<h:panelGroup class="input-group input-group-sm">
					<h:outputLabel id="label_city_#{id}" for="city_field_#{id}" styleClass="input-group-addon single-column-directory-label" value="Город:" />
					<h:inputText id="city_field_#{id}" value="#{addressHelperBean.cityNamePrefix}"
						styleClass="form-control"
						rendered="#{not addressHelperBean.citySelected}">
						<a4j:ajax event="keyup" render="city_sugession_panel_#{id}" limitRender="true"/>
					</h:inputText>
					<h:outputText value="#{addressHelperBean.city.formalName}"  rendered="#{addressHelperBean.citySelected}"/>
					<a4j:commandLink action="#{addressHelperBean.unselectCity}"
						rendered="#{addressHelperBean.citySelected}"
	       			 	execute="@this" render="kladr_edit_grid_#{id}"
						styleClass="change-selected-link">
						<h:graphicImage value="/images/cross.png" alt="Изменить"
						width="20" height="20" title="Изменить"/>
					</a4j:commandLink>
				</h:panelGroup>


				<h:panelGroup id="city_sugession_panel_#{id}" class="input-group input-group-sm" rendered="#{not(addressHelperBean.citySelected)}">
					<a4j:repeat value="#{addressHelperBean.citySugessionList}"  var="c">
						<a4j:commandLink value="#{c.shortName}. #{c.formalName} (#{c.fullAddressString})"
							action="#{addressHelperBean.selectCity(c)}"
							execute="kladr_edit_grid_#{id}" render="kladr_edit_grid_#{id}"
						/>
						<br />

					</a4j:repeat>
				</h:panelGroup>

				<!-- STREET -->
				<h:panelGroup class="input-group input-group-sm" rendered="#{addressHelperBean.citySelected and not addressHelperBean.isPostOfficeBox}">
					<h:outputLabel id="label_street_#{id}" for="street_field_#{id}" styleClass="input-group-addon single-column-directory-label" value="Улица:" />
					<h:inputText id="street_field_#{id}" value="#{addressHelperBean.streetNamePrefix}"
						styleClass="form-control"
						rendered="#{not addressHelperBean.streetSelected}">
						<a4j:ajax event="keyup" render="street_sugession_panel_#{id}" limitRender="true"/>
					</h:inputText>
					<h:outputText value="#{addressHelperBean.street.formalName}"  rendered="#{addressHelperBean.streetSelected}"/>
					<a4j:commandLink action="#{addressHelperBean.unselectStreet}"
						rendered="#{addressHelperBean.streetSelected}"
						execute="@this" render="kladr_edit_grid_#{id}, @region"
						styleClass="change-selected-link">
						<h:graphicImage value="/images/cross.png" alt="Изменить"
						width="20" height="20" title="Изменить"/>
					</a4j:commandLink>
				</h:panelGroup>


				<h:panelGroup id="street_sugession_panel_#{id}" class="input-group input-group-sm" rendered="#{not addressHelperBean.streetSelected}" >
					<a4j:repeat value="#{addressHelperBean.streetSugessionList}"  var="c">
						<a4j:commandLink value="#{c.formalName}"
							action="#{addressHelperBean.selectStreet(c)}"
							execute="kladr_edit_grid_#{id}" render="kladr_edit_grid_#{id}"
						/>
						<br />

					</a4j:repeat>
				</h:panelGroup>


				<!-- HOUSE -->
				<h:panelGroup class="input-group input-group-sm" rendered="#{addressHelperBean.streetSelected and not addressHelperBean.isPostOfficeBox}">
					<h:outputLabel id="label_house_#{id}" for="house_field_#{id}" styleClass="input-group-addon single-column-directory-label" value="Дом:" />
					<h:inputText id="house_field_#{id}" value="#{addressHelperBean.houseNamePrefix}"
						styleClass="form-control"
						rendered="#{not addressHelperBean.houseSelected}">
						<a4j:ajax event="keyup" render="house_sugession_panel_#{id}" limitRender="true"/>
					</h:inputText>
					<h:outputText value="#{addressHelperBean.house.houseNum}"  rendered="#{addressHelperBean.houseSelected}"/>
					<a4j:commandLink action="#{addressHelperBean.unselectHouse}"
						rendered="#{addressHelperBean.houseSelected}"
						execute="kladr_edit_grid_#{id}" render="kladr_edit_grid_#{id}, @region"
						styleClass="change-selected-link">
						<h:graphicImage value="/images/cross.png" alt="Изменить"
							width="20" height="20" title="Изменить"/>
					</a4j:commandLink>
				</h:panelGroup>


				<h:panelGroup id="house_sugession_panel_#{id}" class="input-group input-group-sm" rendered="#{not addressHelperBean.houseSelected}" >
					<a4j:repeat value="#{addressHelperBean.houseSugessionList}"  var="h">
						<a4j:commandLink value="#{h.houseNum} #{h.houseId == null ? '(для дома отсутствует запись в БД)' : ''}"
							action="#{addressHelperBean.selectHouse(h)}"
							execute="kladr_edit_grid_#{id}" render="kladr_edit_grid_#{id}, @region"
						/>
						<br />

					</a4j:repeat>
				</h:panelGroup>

				<!-- zipCode -->
				<h:panelGroup class="input-group input-group-sm" rendered="#{addressHelperBean.houseSelected and addressHelperBean.house.houseId == null}">
					<h:outputLabel id="label_zipcode_#{id}" for="zipcode_field_#{id}" styleClass="input-group-addon single-column-directory-label" value="Индекс:" />
					<h:inputText id="zipcode_field_#{id}" value="#{addressHelperBean.zipCode}"
						styleClass="form-control" required="true" requiredMessage="Выбранный дом не найден в базе данных, необходимо указать почтовый индекс"/>
				</h:panelGroup>

				<!-- Apartment -->
				<h:panelGroup class="input-group input-group-sm" rendered="#{addressHelperBean.houseSelected and not addressHelperBean.isPostOfficeBox}">
					<h:outputLabel id="label_apartments_#{id}" for="apartments_field_#{id}" styleClass="input-group-addon single-column-directory-label" value="Квартира:" />
					<h:inputText id="apartments_field_#{id}" value="#{addressHelperBean.apartments}"
						styleClass="form-control" />
				</h:panelGroup>

				<!-- Абонентский ящик -->
				<h:panelGroup class="input-group input-group-sm" rendered="#{addressHelperBean.isPostOfficeBox}">
					<h:outputLabel id="label_postalOfficeBox_#{id}" for="postalOfficeBox_field_#{id}" styleClass="input-group-addon single-column-directory-label" value="Номер абонентсккого ящика:" />
					<h:inputText id="postalOfficeBox_field_#{id}" value="#{addressHelperBean.postOfficeBox}"
						styleClass="form-control" />
				</h:panelGroup>

				<h:panelGroup >
					<div id="add_buttons_wrapper" class="buttons-wrapper">
						<a4j:commandLink value="Сохранить" styleClass="filter-button btn btn-primary"
							rendered="#{addressHelperBean.streetSelected or addressHelperBean.isPostOfficeBox}"
							action="#{addressHelperBean.save}"
							execute="kladr_edit_grid_#{id}" render="@form" />
						<a4j:commandLink value="Отмена" styleClass="filter-button btn btn-primary"
							action="#{addressHelperBean.cancel}"
							execute="@this" render="@form"/>
					</div>
				</h:panelGroup>
			</h:panelGrid>
		</rich:panel>
	</a4j:outputPanel>
</ui:composition>