<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:a4j="http://richfaces.org/a4j"
                xmlns:rich="http://richfaces.org/rich">
    <nav id="main_menu_bar" class="navbar navbar-default" role="navigation">
        <div id="main_menu_container" class="container-fluid">
            <div class="collapse navbar-collapse" id="main_menu_collapse">
                <ul id="menu_list" class="nav navbar-nav navbar-left">
                    <li id="directories_list" class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><h4>Справочники<span class="caret"></span></h4></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="/directory/secure/juridicals/list.xhtml">Контрагенты</a></li>
							<li><hr/></li>

                            <li><a href="/directory/secure/ageBrackets/list.xhtml">Возрастные группы</a></li>

                            <li><a href="/directory/secure/stay/list.xhtml">Режимы пребывания</a></li>

                            <li><a href="/directory/secure/productCategories/list.xhtml">Категории продуктов</a></li>

                            <li><a href="/directory/secure/normGroups/list.xhtml">Группы норм</a></li>
                            <li><hr/></li>

                            <li><a href="/directory/secure/product/trademark/list.xhtml">Торговые марки</a></li>
                            <li><a href="/directory/secure/product/product/list.xhtml">Продукты</a></li>
                            <li><a href="/directory/secure/product/productimage/list.xhtml">Образы</a></li>
                            <li><a href="/directory/secure/product/packingFlowChart/list.xhtml">Технологические карты</a></li>
							<li><hr/></li>
							<li><a href="/directory/secure/measure/list.xhtml">Единицы измерения</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</ui:composition>