<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:a4j="http://richfaces.org/a4j"
                xmlns:rich="http://richfaces.org/rich">
	<a4j:outputPanel id="messages_panel" ajaxRendered="true">
		<h:form id="messages_form" rendered="#{!empty facesContext.maximumSeverity}">
			<h:panelGroup id="messages_wrapper" layout="block"
						styleClass="well">
				<rich:messages id="main_messages" styleClass="messages"/>
			</h:panelGroup>
		</h:form>
	</a4j:outputPanel>
</ui:composition>