<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:a4j="http://richfaces.org/a4j"
                xmlns:rich="http://richfaces.org/rich">
    <ui:decorate template="/templates/listViewTemplate.xhtml">
        <ui:param name="title" value="Единицы измерения"/>
        <ui:param name="bean" value="#{Measures}"/>
        <ui:param name="filterPanel" value="/secure/measure/includes/filter.xhtml"/>
        <ui:param name="filterColumnCount" value="5"/>
        <ui:param name="tableColumns" value="/secure/measure/includes/columns.xhtml"/>
    </ui:decorate>
</ui:composition>