<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:a4j="http://richfaces.org/a4j"
                xmlns:rich="http://richfaces.org/rich">

    <rich:column id="name" styleClass="medium_column">
        <f:facet name="header">
            <h:outputText id="name_header" value="Название"/>
        </f:facet>
        <h:outputText value="#{ent.name}"/>
    </rich:column>
    <rich:column id="rusShortName1" styleClass="small_column">
        <f:facet name="header">
            <h:outputText id="rusShortName1_header" value="сокращение 1"/>
        </f:facet>
        <h:outputText value="#{ent.rusShortName1}"/>
    </rich:column>
    <rich:column id="rusShortName2" styleClass="small_column">
        <f:facet name="header">
            <h:outputText id="rusShortName2_header" value="сокращение 2"/>
        </f:facet>
        <h:outputText value="#{ent.rusShortName2}"/>
    </rich:column>
    <rich:column id="engShortName1" styleClass="small_column">
        <f:facet name="header">
            <h:outputText id="engShortName1_header" value="анг. сокращение 1"/>
        </f:facet>
        <h:outputText value="#{ent.engShortName1}"/>
    </rich:column>
    <rich:column id="engShortName2" styleClass="small_column">
        <f:facet name="header">
            <h:outputText id="engShortName2_header" value="анг. сокращение 2"/>
        </f:facet>
        <h:outputText value="#{ent.engShortName2}"/>
    </rich:column>
    <rich:column id="numberCode" styleClass="small_column">
        <f:facet name="header">
            <h:outputText id="numberCode_header" value="числовой код"/>
        </f:facet>
        <h:outputText value="#{ent.numberCode}"/>
    </rich:column>
    <rich:column id="measureGroup" styleClass="medium_column">
        <f:facet name="header">
            <h:outputText id="measureGroup_header" value="Группа единицы измерения"/>
        </f:facet>
        <h:outputText value="#{ent.measureGroup.stringValue}"/>
    </rich:column>
    <rich:column id="measureType" styleClass="medium_column">
        <f:facet name="header">
            <h:outputText id="measureType_header" value="Тип единицы измерения"/>
        </f:facet>
        <h:outputText value="#{ent.measureType.stringValue}"/>
    </rich:column>
    
</ui:composition>