<ui:composition xmlns="http://www.w3.org/1999/xhtml" 
                xmlns:h="http://java.sun.com/jsf/html" 
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets" 
                xmlns:a4j="http://richfaces.org/a4j"
                xmlns:rich="http://richfaces.org/rich">

    <div class="row" >
        <div class="col-sm-5">
            <h:outputLabel  for="name_field" styleClass="control-label" value="Название" />
            <h:inputText id="name_field" value="#{JuridicalGroups.entity.name}" styleClass="form-control" />
        </div>        
    </div>
    <hr />
    <div class="row">
        <div class="col-lg-4">

            <h:outputLabel  for="name_field" styleClass="control-label" value="Контрагенты в группе" />
            <rich:dataTable value="#{JuridicalGroups.entity.juridicals}" var="ej" noDataLabel="Не добавлено ни одного конрагента">
                <rich:column>
                    <f:facet name="header">
                        <h:outputText value="Название"/>
                    </f:facet>
                    <h:outputText value="#{ej.name}"/>
                </rich:column>
                <rich:column>
                    <f:facet name="header">
                        <h:outputText value=""/>
                    </f:facet>
                    <a4j:commandLink  action="#{JuridicalGroups.removeJuridical(ej)}" render="@form" value="Удалить"/>
                </rich:column>
            </rich:dataTable>
        </div>
        <div class="col-lg-4">

            <h:outputLabel  for="name_field" styleClass="control-label" value="Доступные контрагенты"  />
            <rich:dataTable value="#{JuridicalGroups.juridicals}" var="j" noDataLabel="Нет контрагентов">

                <rich:column>
                    <f:facet name="header">
                        <h:outputText value="Название"/>
                    </f:facet>
                    <h:outputText value="#{j.name}"/>
                </rich:column>
                <rich:column>
                    <f:facet name="header">
                        <h:outputText value=""/>
                    </f:facet>
                    <a4j:commandLink  action="#{JuridicalGroups.addJuridical(j)}" render="@form" value="Добавить"/>
                </rich:column>
            </rich:dataTable>
        </div>
    </div>


</ui:composition>