<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:a4j="http://richfaces.org/a4j"
                xmlns:rich="http://richfaces.org/rich">


<h:panelGrid id="edit_grid" columns="1" 
columnClasses="filter-rows,filter-rows,filter-rows,filter-rows,filter-rows,filter-rows"
styleClass="single-column-directory-table">

    <h:panelGroup class="input-group input-group-sm">
        <h:outputLabel id="label_name" for="name_field" styleClass="input-group-addon single-column-directory-label" value="Название:" />
        <h:inputText id="name_field" value="#{ProductCategories.entity.name}" styleClass="form-control" 
                     required="true" requiredMessage="Поле 'Название' обязательно к заполнению." maxlength="50" />
    </h:panelGroup>
    <h:panelGroup class="input-group input-group-sm">
        <h:outputLabel id="label_description" for="description_field" styleClass="input-group-addon single-column-directory-label" value="Описание:" />
        <h:inputTextarea id="description_field" value="#{ProductCategories.entity.description}" 
        	rows="5"
        	style="height: 100px;" 
        	styleClass="form-control"/>
    </h:panelGroup>
</h:panelGrid>
</ui:composition>