<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:a4j="http://richfaces.org/a4j"
                xmlns:rich="http://richfaces.org/rich">
    <h:panelGroup class="input-group input-group-sm">
        <h:outputLabel id="label_filter_name" for="name_filter_field" styleClass="input-group-addon" value="Название :" />
        <h:inputText id="name_filter_field" value="#{bean.nameFilter}" styleClass="form-control"/>
    </h:panelGroup>

</ui:composition>