<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:a4j="http://richfaces.org/a4j"
                xmlns:rich="http://richfaces.org/rich">


<h:panelGrid id="edit_grid" columns="1" 
columnClasses="filter-rows,filter-rows,filter-rows,filter-rows,filter-rows,filter-rows"
styleClass="single-column-directory-table">

    <h:panelGroup class="input-group input-group-sm">
        <h:outputLabel id="label_startMonth" for="startMonth_field" styleClass="input-group-addon single-column-directory-label" value="Месяц начала действия нормы:" />
        <h:inputText id="startMonth_field" value="#{GrossNorms.entity.startMonth}" 
        	styleClass="form-control"
                required="true" requiredMessage="Поле 'Месяц начала действия нормы' обязательно к заполнению."
                converter="javax.faces.Short" converterMessage="Поле Минимальный возраст может содержать только арабские цифры."/>
    </h:panelGroup>
    
    <h:panelGroup class="input-group input-group-sm">
        <h:outputLabel id="label_endMonth" for="endMonth_field" styleClass="input-group-addon single-column-directory-label" value="Месяц окончания действия нормы:" />
        <h:inputText id="endMonth_field" value="#{GrossNorms.entity.endMonth}" 
        	styleClass="form-control"
                required="true" requiredMessage="Поле 'Месяц окончания действия нормы' обязательно к заполнению."
                converter="javax.faces.Short" converterMessage="Поле Минимальный возраст может содержать только арабские цифры."/>
    </h:panelGroup>
    
    <h:panelGroup class="input-group input-group-sm">
        <h:outputLabel id="label_quantity" for="quantity_field" styleClass="input-group-addon single-column-directory-label" value="Количество:" />
        <h:inputText id="quantity_field" value="#{GrossNorms.entity.quantity}" styleClass="form-control" 
                     required="true" requiredMessage="Поле 'Количество' обязательно к заполнению." maxlength="50" />
    </h:panelGroup>
</h:panelGrid>
</ui:composition>