<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:a4j="http://richfaces.org/a4j"
                xmlns:rich="http://richfaces.org/rich">
    
   
    <rich:column id="startMonth" styleClass="large_column">
        <f:facet name="header">
            <h:outputText id="startMonth_header" value="Месяц начала действия нормы"/>
        </f:facet>
        <h:outputText value="#{ent.startMonth}"/>
    </rich:column>
    
    <rich:column id="endMonth" styleClass="large_column">
        <f:facet name="header">
            <h:outputText id="endMonth_header" value="Месяц конца действия нормы"/>
        </f:facet>
        <h:outputText value="#{ent.endMonth}"/>
    </rich:column>
    
    <rich:column id="quantity" styleClass="large_column">
        <f:facet name="header">
            <h:outputText id="quantity_header" value="Количество"/>
        </f:facet>
        <h:outputText value="#{ent.quantity}"/>
    </rich:column>

</ui:composition>