<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:a4j="http://richfaces.org/a4j"
                xmlns:rich="http://richfaces.org/rich">
    
    <!-- rich:column id="id" styleClass="small_column">
        <f:facet name="header">
            <h:outputText id="id_header" value="ID"/>
        </f:facet>
        <h:outputText value="# {ent.id}"/>
    </rich:column-->
    
    <rich:column id="name" styleClass="large_column">
        <f:facet name="header">
            <h:outputText id="name_header" value="Название"/>
        </f:facet>
        <h:outputText value="#{ent.name}"/>
    </rich:column>
    
    <rich:column id="description" styleClass="large_column">
        <f:facet name="header">
            <h:outputText id="description_header" value="Описание"/>
        </f:facet>
        <h:outputText value="#{ent.description}"/>
    </rich:column>
    
    <rich:column id="minimumAge" styleClass="small_column">
        <f:facet name="header">
            <h:outputText id="minimumAge_header" value="Минимальный возраст, мес." />
        </f:facet>
        <h:outputText value="#{ent.minimumAge}"/>
    </rich:column>
    
    <rich:column id="maximumAge" styleClass="small_column">
        <f:facet name="header">
            <h:outputText id="maximumAge_header" value="Максимальный возраст, мес." />
        </f:facet>
        <h:outputText value="#{ent.maximumAge}"/>
    </rich:column>
    
    <rich:column id="minimumAgeYears" styleClass="small_column">
        <f:facet name="header">
            <h:outputText id="minimumAgeYears_header" value="Максимальный возраст, лет" />
        </f:facet>
        <h:outputText value="#{ent.getMinimumAgeInYears()}"/>
    </rich:column>
    
    <rich:column id="maximumAgeYears" styleClass="small_column">
        <f:facet name="header">
            <h:outputText id="maximumAgeYears_header" value="Максимальный возраст, лет" />
        </f:facet>
        <h:outputText value="#{ent.getMaximumAgeInYears()}"/>
    </rich:column>
</ui:composition>