<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:a4j="http://richfaces.org/a4j"
                xmlns:rich="http://richfaces.org/rich">

    <rich:column id="name" styleClass="large_column">
        <f:facet name="header">
            <h:outputText id="name_header" value="Название"/>
        </f:facet>
        <h:outputText value="#{ent.name}"/>
    </rich:column>
    
</ui:composition>