<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:a4j="http://richfaces.org/a4j"
      xmlns:rich="http://richfaces.org/rich"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core" xmlns:composite="http://java.sun.com/jsf/composite">
        >


        <!--НЕ ГОТОВО-->


<composite:interface>

    <composite:attribute name="value" />
    <composite:attribute name="id" />
    <composite:attribute name="converter" />
    <composite:attribute name="emailValue" />

    <composite:attribute name="registerButtonText" />
    <composite:attribute name="registerButtonAction"
                         method-signature="java.lang.String action()" />

</composite:interface>

<composite:implementation>

    <h:form>

        <h:message for="textPanel" style="color:red;" />

        <h:panelGrid columns="2" id="textPanel">

            #{cc.attrs.nameLable} :
            <h:inputText id="name" value="#{cc.attrs.nameValue}" />

            #{cc.attrs.emailLable} :
            <h:inputText id="email" value="#{cc.attrs.emailValue}" />

        </h:panelGrid>

        <h:commandButton action="#{cc.attrs.registerButtonAction}"
                         value="#{cc.attrs.registerButtonText}"
                />

    </h:form>

    <a4j:commandLink id="link:#{cc.attrs.id}" styleClass="no-decor action_link" execute="@this"
                     render="@none" limitRender="true" value="#{ent.measure.name}" style="display: block; width: 100%; height: 30px"
                     ondblclick="
								#{rich:element('measure_input_field')}.style.display='';
								#{rich:element('measure_output')}.style.display='none';
								document.getElementById('#{rich:clientId('measure_input_field')}Input').focus();
								document.getElementById('#{rich:clientId('measure_input_field')}Input').select();"
            >
        <f:setPropertyActionListener target="#{ent.measure}" value="#{null}"/>
    </a4j:commandLink>
    <h:inputText id="input:#{cc.attrs.id}" value="#{cc.attrs.value}" converter="#{cc.attrs.converter}"
                 onblur="
						   #{rich:element('measure_input_field')}.style.display='none';
						   #{rich:element('measure_output')}.style.display='block';
							#{rich:element('measure_output')}.style.width='100%';
							#{rich:element('measure_output')}.style.display='30px';">


    <rich:autocomplete id="measure_input_field"  mode="client" autocompleteList="#{Measures.allMeasures}"
                       value="#{ent.measure}" var="measure" fetchValue="#{measure.name}"
                       layout="table" selectFirst="true" converter="MeasureConverter"
                       inputClass="form-control" minChars="2" style="display:none"
                       onblur="
						   #{rich:element('measure_input_field')}.style.display='none';
						   #{rich:element('measure_output')}.style.display='block';
							#{rich:element('measure_output')}.style.width='100%';
							#{rich:element('measure_output')}.style.display='30px';">
        <rich:column>
            <h:outputText value="#{measure.name}" />
        </rich:column>
        <a4j:ajax event="selectitem" listener="#{NetNorms.setEntity(ent)}" />
        <a4j:ajax event="selectitem" listener="#{NetNorms.modifyAction}"
                  render="@form" execute="@form" limitRender="true"/>
    </rich:autocomplete>




</composite:implementation>

</html>