<ui:composition template="/templates/baseTemplate.xhtml" xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:a4j="http://richfaces.org/a4j"
                xmlns:rich="http://richfaces.org/rich"
				xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    <ui:define name="title">#{title}</ui:define>
    <ui:define name="body">
        <a4j:outputPanel id="container" layout="block" >
            <div id="container-panel" class="panel panel-default">
                <div class="panel-heading">
                    <h:panelGrid columns="2" width="100%">
                        <h:panelGroup id="directory_title" styleClass="text-left">
                            <h3 class="panel-title">#{title}</h3>
                        </h:panelGroup>
                        <h:panelGroup id="add_panel_group" styleClass="text-right">
                            <h:form id="back_to_list_form">
                                <a4j:commandLink action="#{bean.backToList}" execute="@this" styleClass="filter-button btn btn-primary">
                                    <h:outputText id="label_add" value="Вернуться к списку"/>
                                </a4j:commandLink>
                            </h:form>
                        </h:panelGroup>
                    </h:panelGrid>
                </div>
                <div class="panel-body no-padding">
                    <div id="panel-body-content" class="small-padding">
                        <h:form id="edit_form">
                            <ui:include src="#{fieldsPanel}"/>
                            <div id="add_buttons_wrapper" class="buttons-wrapper">
                                <h:commandLink value="Сохранить" action="#{bean.modifyAction()}" styleClass="filter-button btn btn-primary"/>
                            </div>
                        </h:form>
						
						<c:if test="#{not empty additionalPanel}">
							<a4j:outputPanel id="rendered_additionalPanel_container">
								<a4j:outputPanel id="additionalPanel_container" rendered="#{bean.entity.isPersistent()}">
									<hr/>
									<div id="additionalPanel-container-panel" class="panel panel-default">
										<div class="panel-body no-padding">
											<div id="additionalPanel-panel-content" class="small-padding">
												<ui:include src="#{additionalPanel}"/>
											</div>
										</div>
									</div>
								</a4j:outputPanel>
							</a4j:outputPanel>
						</c:if>
                    </div>
                </div>
            </div>
        </a4j:outputPanel>
    </ui:define>
</ui:composition>