<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:a4j="http://richfaces.org/a4j"
      xmlns:rich="http://richfaces.org/rich">

    <h:head id="head_tag">
        <title><ui:define name="title">Справочники</ui:define></title>
        <meta http-equiv="content-type" content="text/xhtml; charset=UTF-8" />
        <meta http-equiv="x-ua-compatible" content="ie=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <ui:insert name="meta"></ui:insert>
        <!-- Bootstrap -->
        <link href="/directory/css/bootstrap/bootstrap.min.css" rel="stylesheet"/>
        <link href="/directory/css/main.css" rel="stylesheet" type="text/css"/>
        <ui:insert name="css"></ui:insert>
        <script src="/directory/js/jquery/jquery-2.1.1.min.js"></script>
        <script src="/directory/js/bootstrap/bootstrap.js"></script>
        <ui:insert name="js"></ui:insert>
    </h:head>
    <h:body id="body_tag">
        <div class="container">
            <ui:remove>
                <!--Меню-->
            </ui:remove>
            <ui:include src="/secure/common/menuBar.xhtml"/>
            <ui:include src="/secure/common/messages.xhtml"/>
            <ui:insert name="body"></ui:insert>
        </div>
    </h:body>
</html>
