<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:a4j="http://richfaces.org/a4j"
                xmlns:rich="http://richfaces.org/rich">
	<a4j:outputPanel id="delete_panel">
        <rich:popupPanel id="delete_confirm_panel" 
                         autosized="true" modal="true" moveable="false">
            <f:facet name="header">
                <h:outputText value="Подтвердите удаление"/>
            </f:facet>
            <!--<h:form id="delete_form">-->
			<a4j:region id="delete_form">
                <div id="delete_confirmation_content">
                    <h:outputText value="Вы уверены, что хотите удалить запись " styleClass="caption"/>
                    
                    <!--
                    имя есть не у всех сущностей
                    
                    <strong><h:outputText id="delete_entity_name" value="#bean.entity.name}" styleClass="caption"/></strong>
                    -->
                    
                    <h:outputText value=" (ID: #{bean.entity.id})" styleClass="caption"/>
                    <h:outputText value="?" styleClass="caption"/>
                    
                    
                </div>
                
                
                <div id="delete_confirmation_buttons" class="buttons-wrapper text-center">
                    <a4j:commandLink id="doDelete" action="#{bean.deleteAction}" styleClass="filter-button btn btn-danger" 
                                     execute="@region" render="@form" onbegin="#{rich:component('delete_confirm_panel')}.hide()" >
                        <h:outputText id="label_delete" value="Удалить"/>
                    </a4j:commandLink>
                    <a4j:commandLink id="doCancel" action="#{bean.setEntity(null)}" styleClass="filter-button btn btn-primary"
                                     execute="@none" render="@none" onbegin="#{rich:component('delete_confirm_panel')}.hide()">
                        <h:outputText id="label_cancel" value="Отмена" />
                    </a4j:commandLink>
                </div>
            </a4j:region>
			<!--</h:form>-->
        </rich:popupPanel>
	</a4j:outputPanel>
</ui:composition>