<ui:composition template="/templates/baseTemplate.xhtml" xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:a4j="http://richfaces.org/a4j"
                xmlns:rich="http://richfaces.org/rich">
    <ui:define name="title">#{title}</ui:define>
    <ui:define name="body">
        <a4j:outputPanel id="container" layout="block" >
            <div id="container-panel" class="panel panel-default">
                <div class="panel-heading">
                    <h:panelGrid columns="2" width="100%">
                        <h:panelGroup id="directory_title" styleClass="text-left">
                            <h3 class="panel-title">#{title}</h3>
                        </h:panelGroup>
                        <h:panelGroup id="add_panel_group" styleClass="text-right">
                            <h:form id="add_form" rendered="#{bean.isEditable()}">
                                <a4j:commandLink action="#{bean.addNewDirectoryObject}" execute="@this" styleClass="filter-button btn btn-primary">
                                    <h:outputText id="label_add" value="Добавить"/>
                                </a4j:commandLink>
                            </h:form>
                        </h:panelGroup>
                    </h:panelGrid>
                </div>
                <div class="panel-body no-padding">
                    <div id="panel-body-content" class="small-padding">
                        <div id="header">
                            <ui:remove>
                                <!--Панелька фильтрации-->
                            </ui:remove>
                            <h:form id="filter_form" styleClass="navbar-form,no-padding">
                                <a4j:outputPanel  id="filter_wrapper" layout="block">
                                    <h:panelGrid id="filter_grid" columns="#{filterColumnCount}" columnClasses="filter-rows,filter-rows,filter-rows,filter-rows,filter-rows,filter-rows">
                                        <ui:include src="#{filterPanel}"/>
                                    </h:panelGrid>

                                    <a4j:outputPanel id="filter_buttons_wrapper" layout="block" styleClass="buttons-wrapper">
                                        <a4j:commandLink id="doSearch" action="#{bean.doSearch()}" styleClass="filter-button btn btn-primary"
                                                         execute="@form" render="@form,entities_form" limitRender="true">
                                            <h:outputText id="label_search" value="Поиск"/>
                                        </a4j:commandLink>
                                        <a4j:region id="clear_region">
                                            <a4j:commandLink id="clearFilter" action="#{bean.clearFilter()}" styleClass="filter-button btn btn-primary"
                                                             execute="@region" render="@form,entities_form">
                                                <h:outputText id="label_clear" value="Очистить"/>
                                            </a4j:commandLink>
                                        </a4j:region>
                                    </a4j:outputPanel>
                                </a4j:outputPanel>
                            </h:form>
                        </div>
                        <div id="entities">
                            <div id="entities_list" class="table-responsive">
                                <h:form id="entities_form">
									<a4j:outputPanel  id="entities_panel" ajaxRendered="true">
										<rich:dataTable id="entities_table" var="ent" value="#{bean.list}" 
														noDataLabel="Нет записей." iterationStatusVar="it" 
														class="table table-hover table-striped table-bordered  table-condensed" rows="25">
											<rich:column id="num" styleClass="text-center num_column">
												<f:facet name="header">
													<h:outputText id="num_header" value="№ &lt;br/&gt;п/п" escape="false"/>
												</f:facet>
												<h:outputText value="#{it.index+1}"/>
											</rich:column>
											<ui:remove>
												<!--Колонки таблицы-->
											</ui:remove>
											<ui:include src="#{tableColumns}"/>
											<rich:column id="actions" styleClass="text-center" rendered="#{bean.isEditable()}" >
												<ui:remove>
													<!--Редактирование-->
												</ui:remove>
												<a4j:commandLink styleClass="no-decor action_link" execute="@this"
																 action="#{bean.editDirectoryObject()}" render="edit_form">
													<h:graphicImage value="/images/edit_small.png" alt="Редактировать" 
																	width="20" height="20" title="Редактировать"/>
													<f:setPropertyActionListener target="#{bean.entity}" value="#{ent}"/>
												</a4j:commandLink>
												<ui:remove>
													<!--Удаление-->
												</ui:remove>                                            
												<a4j:commandLink styleClass="no-decor action_link" execute="@this" render="delete_confirm_panel"
																 action="#{bean.test}" 
																 oncomplete="#{rich:component('delete_confirm_panel')}.show()">
													<h:graphicImage value="/images/delete_small.png" alt="Удалить" 
																	width="20" height="20" title="Удалить"/>
													<f:setPropertyActionListener target="#{bean.entity}" value="#{ent}"/>
												</a4j:commandLink>
											</rich:column>
											<ui:include src="#{nestedTable}"/>
											<f:facet name="footer">
												<rich:dataScroller id="entities_list_data_scroller" for="entities_table" 
																   maxPages="5" boundaryControls="hide" fastControls="hide"
																   renderIfSinglePage="false"/>
											</f:facet>
										</rich:dataTable>
									</a4j:outputPanel>
									
        
									<ui:remove>
										<!--Панелька подтверждения удаления-->
									</ui:remove>
									<ui:decorate template="/templates/deleteConfirmPanel.xhtml">
										<ui:param name="bean" value="#{bean}"/>
									</ui:decorate>
                                </h:form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </a4j:outputPanel>
        
    </ui:define>
</ui:composition>