<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:a4j="http://richfaces.org/a4j"
                xmlns:rich="http://richfaces.org/rich">
	
		<a4j:outputPanel id="entities_form_panel">
		
			<rich:dataTable id="entities_table" var="ent" value="#{bean.editingList}" 
							noDataLabel="Нет записей." iterationStatusVar="it" 
							class="table table-hover table-striped table-bordered  table-condensed" rows="25">
				<rich:column id="num" styleClass="text-center num_column">
					<f:facet name="header">
						<h:outputText id="num_header" value="№ &lt;br/&gt;п/п" escape="false"/>
					</f:facet>
					<h:graphicImage value="/images/not_saved_icon.png" alt="Не сохранено" rendered="#{!ent.isPersistent()}"
									width="15" height="15" title="Не сохранено"/>
					<h:outputText value="#{it.index+1}"/>
				</rich:column>
				<ui:remove>
					<!--Колонки таблицы-->
				</ui:remove>
				<ui:include src="#{tableColumns}"/>
				<rich:column id="actions" styleClass="text-center tiny_column">
					<ui:remove>
						<!--Удаление-->
					</ui:remove>
					<a4j:commandLink styleClass="no-decor action_link" execute="@this" render="delete_confirm_panel"
									 action="#{bean.test}" rendered="#{ent.isPersistent()}"
									 oncomplete="#{rich:component('delete_confirm_panel')}.show()">
						<h:graphicImage value="/images/delete_small.png" alt="Удалить" 
										width="20" height="20" title="Удалить"/>
						<f:setPropertyActionListener target="#{bean.entity}" value="#{ent}"/>
					</a4j:commandLink>
					<ui:remove>
						<!--Исключить-->
					</ui:remove>
					<a4j:commandLink styleClass="no-decor action_link" execute="@this"
									 action="#{bean.removeFromNotPersistent}" render="@form" rendered="#{!ent.isPersistent()}">
						<h:graphicImage value="/images/delete_small.png" alt="Исключить"
										width="20" height="20" title="Исключить"/>
						<f:setPropertyActionListener target="#{bean.entity}" value="#{ent}"/>
					</a4j:commandLink>
				</rich:column>
				<f:facet name="footer">
					<rich:dataScroller id="entities_list_data_scroller" for="entities_table" 
									   maxPages="5" boundaryControls="hide" fastControls="hide"
									   renderIfSinglePage="false"/>
				</f:facet>
			</rich:dataTable>
		</a4j:outputPanel>
		
		<ui:remove>
            <!--Панелька подтверждения удаления-->
        </ui:remove>
        <ui:decorate template="/templates/deleteConfirmPanel.xhtml">
            <ui:param name="bean" value="#{bean}"/>
        </ui:decorate>
	

		
</ui:composition>
