<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:a4j="http://richfaces.org/a4j"
                xmlns:rich="http://richfaces.org/rich">


    <h:panelGrid id="edit_grid" columns="1" 
                 columnClasses="filter-rows,filter-rows,filter-rows,filter-rows,filter-rows,filter-rows"
                 styleClass="single-column-directory-table">

        <h:panelGroup class="input-group input-group-sm">
            <h:outputLabel id="label_name" for="name_field" styleClass="input-group-addon single-column-directory-label" value="Наименование" />
            <h:inputText id="name_field" value="#{PackingFlowChartUI.entity.name}" styleClass="form-control" style="width: 200px"
                         required="true" requiredMessage="Поле 'Наименование' обязательно к заполнению."/>
        </h:panelGroup>

        <h:panelGroup class="input-group input-group-sm">
            <h:outputLabel id="label_image" for="image_field" styleClass="input-group-addon single-column-directory-label" value="Образ:" />
            <rich:select id="image_field" mode="cachedAjax" minChars="3" autocompleteMethod="#{ProductImages.autocomplete}"
                         var="image" itemValue="#{image}" itemLabel="#{image.name}" value="#{PackingFlowChartUI.image}"
                         converter="JbalanceEntityConverter" defaultLabel="#{PackingFlowChartUI.entity.targetPacking.image.name}">
                <a4j:ajax event="selectitem" render="@form" limitRender="true" listener="#{PackingFlowChartUI.entity.setTargetPacking(null)}"/>
            </rich:select>
        </h:panelGroup>

        <h:panelGroup id="packing_field_panel" class="input-group input-group-sm">
            <h:outputLabel id="label_packing" for="packing_field" styleClass="input-group-addon single-column-directory-label" value="Фасовка:" />

            <rich:select value="#{PackingFlowChartUI.entity.targetPacking}" id="packing_field"
                         disabled="#{PackingFlowChartUI.image==null}"
                         converter="JbalanceEntityConverter" required="true"
                         requiredMessage="Поле 'Фасовка' обязательно к заполнению."
                    >
                <f:selectItems value="#{PackingFlowChartUI.currentPackings}" var="pack" itemLabel="#{pack.name}"
                               itemValue="#{pack}"/>
                <a4j:ajax event="selectitem" render="measure_field"/>
            </rich:select>
        </h:panelGroup>

        <h:panelGroup class="input-group input-group-sm">
            <h:outputLabel id="label_quantity" for="quantity_field" styleClass="input-group-addon single-column-directory-label" value="Количество на выходе:" />
            <h:inputText id="quantity_field" value="#{PackingFlowChartUI.entity.quantity}"
                         styleClass="form-control" style="width: 200px" required="true"
                         requiredMessage="Поле 'Количество на выходе' обязательно к заполнению."/>
        </h:panelGroup>
        <h:panelGroup class="input-group input-group-sm">
            <h:outputLabel id="label_measure" for="measure_field" styleClass="input-group-addon single-column-directory-label" value="Единицы измерения:" />
            <h:inputText id="measure_field" value="#{PackingFlowChartUI.entity.targetPacking.measure.name}"
                         styleClass="form-control" style="width: 200px" disabled="true"/>
        </h:panelGroup>

        <h:panelGroup class="input-group input-group-sm">
            <h:outputLabel id="label_desc" for="desc_field" styleClass="input-group-addon single-column-directory-label" value="Описание" />
            <h:inputTextarea id="desc_field" value="#{PackingFlowChartUI.entity.description}"
                             styleClass="form-control" style="width: 300px;height: 200px;"
                             required="true" requiredMessage="Поле 'Описание' обязательно к заполнению."
                    />
        </h:panelGroup>

    </h:panelGrid>
</ui:composition>