<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:a4j="http://richfaces.org/a4j"
                xmlns:rich="http://richfaces.org/rich">	
	<h:form id="entities_form">
		<h3 class="panel-title">Набор составляющих</h3>
		<ui:decorate template="/templates/listEditTemplate.xhtml"> 
			<ui:param name="bean" value="#{PackingFlowChartPacksUI}"/>
			<ui:param name="tableColumns" value="/secure/product/packingFlowChart/includes/packingListColumns.xhtml"/>
		</ui:decorate>
		<h:panelGrid id="add_panel" columns="1"  width="100%"
							 class="table-responsive" columnClasses="left-panel,right-panel">
			<a4j:commandLink id="add_row" styleClass="filter-button btn btn-primary" 
							execute="@this" render="@form"
							action="#{PackingFlowChartPacksUI.addNotPersistent}">
			   <h:outputText id="label_add_row" value="Добавить компонент"/>
		   	</a4j:commandLink>
		</h:panelGrid>
	</h:form>
	
</ui:composition>
	