<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:a4j="http://richfaces.org/a4j"
                xmlns:rich="http://richfaces.org/rich">


    <rich:column id="name" styleClass="large_column">
        <f:facet name="header">
            <h:outputText id="name_header" value="Название"/>
        </f:facet>
        <h:outputText value="#{ent.name}"/>
    </rich:column>

    <rich:column id="image" styleClass="medium_column">
        <f:facet name="header">
            <h:outputText id="image_header" value="Выходной образ"/>
        </f:facet>
        <h:outputText value="#{ent.targetPacking.image.name}"/>
    </rich:column>

    <rich:column id="targetPacking" styleClass="medium_column">
        <f:facet name="header">
            <h:outputText id="targetPacking_header" value="Выходная фасовка"/>
        </f:facet>
        <h:outputText value="#{ent.targetPacking.name}"/>
    </rich:column>

    <rich:column id="quantity" styleClass="small_column">
        <f:facet name="header">
            <h:outputText id="quantity_header" value="Количество" />
        </f:facet>
        <h:outputText value="#{ent.targetPacking.quantity}"/>
    </rich:column>

    <!--<rich:column id="containsBaseUnits" styleClass="small_column">-->
        <!--<f:facet name="header">-->
            <!--<h:outputText id="containsBaseUnits_header" value="Объем содержимого на выходе" />-->
        <!--</f:facet>-->
        <!--<h:outputText value="{ent.containsBaseUnits}"/>-->
    <!--</rich:column>-->

</ui:composition>