<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:a4j="http://richfaces.org/a4j"
                xmlns:rich="http://richfaces.org/rich">
    <h:panelGroup class="input-group input-group-sm">
        <h:outputLabel id="label_filter_name" for="name_filter_field" styleClass="input-group-addon" value="Название :" />
        <h:inputText id="name_filter_field" value="#{bean.nameFilter}" styleClass="form-control"/>
    </h:panelGroup>
    <h:panelGroup class="input-group input-group-sm">
        <h:outputLabel id="label_filter_image" for="image_filter_field" styleClass="input-group-addon single-column-directory-label" value="Образ :" />
        <rich:select id="image_filter_field" mode="ajax" minChars="2" autocompleteMethod="#{ProductImages.autocomplete}"
                     value="#{PackingFlowChartUI.imageFilterValue}" converter="JbalanceEntityConverter" enableManualInput="true"
                     var='image' itemValue="#{image}" itemLabel="#{image.name}" >
            <a4j:ajax event="selectitem" render="packing_filter_panel" limitRender="true"/>
        </rich:select>

    </h:panelGroup>
    <h:panelGroup class="input-group input-group-sm" id="packing_filter_panel">
        <h:outputLabel id="label_filter_packing" for="packing_filter_field" styleClass="input-group-addon single-column-directory-label" value="Фасовка :" />
        <rich:select value="#{PackingFlowChartUI.packing}" id="packing_filter_field"
                     disabled="#{PackingFlowChartUI.imageFilterValue==null}"
                     converter="JbalanceEntityConverter"
                >
            <f:selectItems value="#{PackingFlowChartUI.currentPackings}" var="pack" itemLabel="#{pack.name}"
                           itemValue="#{pack}"/>
        </rich:select>
    </h:panelGroup>
</ui:composition>