<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:a4j="http://richfaces.org/a4j"
                xmlns:rich="http://richfaces.org/rich">
    <rich:column id="image" styleClass="small_column">
        <f:facet name="header">
            <h:outputText id="image_header" value="образ"/>
        </f:facet>
        <h:panelGroup id="image_panel">
            <h:outputText id="image_output" rendered="#{ent.isPersistent()}" value="#{ent.packing.image.name}"/>

            <rich:select id="image_field" mode="ajax" minChars="2" autocompleteMethod="#{ProductImages.autocomplete}"
                         value="#{PackingFlowChartPacksUI.image}" converter="JbalanceEntityConverter"
                         rendered="#{!ent.isPersistent()}" var='image' itemValue="#{image}" itemLabel="#{image.name}">
                <a4j:ajax event="selectitem" render="@form" limitRender="true"/>
                <a4j:ajax event="blur" render="@form" limitRender="true"/>
            </rich:select>
        </h:panelGroup>
    </rich:column>

    <rich:column id="packing" styleClass="small_column">
        <f:facet name="header">
            <h:outputText id="product_header" value="фасовка"/>
        </f:facet>
        <h:panelGroup id="packing_panel">
            <h:outputText id="packing_output" rendered="#{ent.isPersistent()}" value="#{ent.packing.name}"/>
            <rich:select value="#{ent.packing}" id="packing_field" rendered="#{!ent.isPersistent()}"
                         disabled="#{PackingFlowChartPacksUI.image == null}" converter="JbalanceEntityConverter">
                <f:selectItems value="#{PackingFlowChartPacksUI.currentPackings}" var="pack" itemLabel="#{pack.name}"
                               itemValue="#{pack}"/>
                <a4j:ajax event="selectitem" render="@form" limitRender="true"/>
                <a4j:ajax event="blur" render="@form" limitRender="true"/>

            </rich:select>
        </h:panelGroup>
    </rich:column>
    <rich:column id="quantity" styleClass="small_column">
        <f:facet name="header">
            <h:outputText id="quantity_header" value="Количество:"/>
        </f:facet>
        <rich:inplaceInput id="quantity_field" value="#{ent.quantity}" disabled="#{ent.packing == null}"
                           editEvent="dblclick" style="width: 100px">
            <a4j:ajax event="change" listener="#{PackingFlowChartPacksUI.setEntity(ent)}" execute="@form" render="@form"/>
            <a4j:ajax event="change" listener="#{PackingFlowChartPacksUI.modifyAction}" />
        </rich:inplaceInput>
    </rich:column>
    <rich:column id="measure" styleClass="small_column">
        <f:facet name="header">
            <h:outputText id="measure_header" value="Единицы измерения:"/>
        </f:facet>
        <h:outputText id="measure_field" value="#{ent.packing.measure.name}"/>
    </rich:column>
</ui:composition>