<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:a4j="http://richfaces.org/a4j"
                xmlns:rich="http://richfaces.org/rich">
    <ui:decorate template="/templates/addViewTemplate.xhtml">
        <ui:param name="title" value="Добавление возрастной группы"/>
        <ui:param name="bean" value="#{AgeBrackets}"/>
        <ui:param name="fieldsPanel" value="/secure/ageBrackets/includes/addColumns.xhtml"/>
    </ui:decorate>
</ui:composition>