<ui:composition xmlns="http://www.w3.org/1999/xhtml" 
				xmlns:h="http://java.sun.com/jsf/html" 
				xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets" 
                xmlns:a4j="http://richfaces.org/a4j"
                xmlns:rich="http://richfaces.org/rich">

<style type="text/css">
	.address-cell{
		width: 70%;
	}
</style>

<h:panelGrid id="edit_grid" columns="1" 
columnClasses="filter-rows,filter-rows,filter-rows,filter-rows,filter-rows,filter-rows"
styleClass="single-column-directory-table">

    <h:panelGroup class="input-group input-group-sm">
        <h:outputLabel id="label_name" for="name_field" styleClass="input-group-addon single-column-directory-label" value="Краткое наименование:" />
        <h:inputText id="name_field" value="#{Juridicals.entity.name}" styleClass="form-control" />
    </h:panelGroup>
    <h:panelGroup class="input-group input-group-sm">
        <h:outputLabel id="label_inn" for="inn_field" styleClass="input-group-addon single-column-directory-label" value="ИНН:" />
        <h:inputText id="inn_field" value="#{Juridicals.entity.inn}" styleClass="form-control" maxlength="12" 
                     converter="javax.faces.Long" converterMessage="Поле ИНН может содержать только арабские цифры."/>
    </h:panelGroup>
    <h:panelGroup class="input-group input-group-sm">
        <h:outputLabel id="label_ogrn" for="ogrn_field" styleClass="input-group-addon single-column-directory-label" value="ОГРН:" />
        <h:inputText id="ogrn_field" value="#{Juridicals.entity.ogrn}" styleClass="form-control"/>
    </h:panelGroup>
    
    
    <h:panelGroup class="input-group input-group-sm">
        <h:outputLabel id="label_registeredOffice" for="registeredOffice_field" styleClass="input-group-addon single-column-directory-label" value="Адрес регистрации юр. лица:" />
        <h:inputText id="registeredOffice_field" value="#{Juridicals.entity.registeredOffice}" styleClass="form-control address-cell" 
        	readonly="true">
        </h:inputText>
       	<!-- rich:tooltip target="registeredOffice_field">
   			Значение адреса выбирается из справочников адресов
   		</rich:tooltip-->
        <a4j:commandLink action="#{Juridicals.changeRegisteredOfficePanelVisibility}" 
        	execute="@this"
        	render="registeredOfficeKladrPanel">
        	<h:graphicImage value="/images/search.png" alt="Поиск" 
				width="20" height="20" title="Поиск" />
        </a4j:commandLink>

		<a4j:commandLink action="#{Juridicals.clearRegistredOfficeField}"
						 execute="@this" render="registeredOffice_field"
						 rendered="#{Juridicals.entity.registeredOffice != null}">
			<h:graphicImage value="/images/cross.png" alt="Очистить"
							width="20" height="20" title="Очистить"/>
		</a4j:commandLink>
        
    </h:panelGroup>
     <h:panelGroup >
    	<a4j:outputPanel id="registeredOfficeKladrPanel">
	    	<a4j:outputPanel rendered="#{Juridicals.registeredOfficePanelVisible}">
	    		<ui:decorate template="/secure/common/kladrAddress.xhtml" >
	    			<ui:param name="id" value="registeredOffice" />
	    			<ui:param name="addressHelperBean" value="#{Juridicals.registeredOfficeAddressHelper}" />
	    		</ui:decorate>
    		</a4j:outputPanel>
    	</a4j:outputPanel>   
    </h:panelGroup>
    
    
    <h:panelGroup class="input-group input-group-sm">
        <h:outputLabel id="label_mailingAdress" for="mailingAdress_field" styleClass="input-group-addon single-column-directory-label" value="Почтовый адрес:" />
        <h:inputText id="mailingAdress_field" value="#{Juridicals.entity.mailingAdress}" styleClass="form-control address-cell" 
        	readonly="true">
        </h:inputText>
       	<!-- rich:tooltip target="mailingAdress_field">
   			Значение адреса выбирается из справочников адресов
   		</rich:tooltip-->
        <a4j:commandLink action="#{Juridicals.changeMailingAddressPanelVisibility}" 
        	execute="@this"
        	render="mailingAddressKladrPanel">
        	<h:graphicImage value="/images/search.png" alt="Поиск" 
				width="20" height="20" title="Поиск" />
        </a4j:commandLink>
        
        <a4j:commandLink action="#{Juridicals.copyRegistredOfficeToMailingAddress}" 
        	execute="@this"
        	render="mailingAdress_field">
        	<h:graphicImage value="/images/copy.png" alt="Копировать" 
				width="20" height="20" title="Копировать" />
        </a4j:commandLink>

		<a4j:commandLink action="#{Juridicals.clearMailingAddressField}"
						 execute="@this" render="mailingAdress_field"
						 rendered="#{Juridicals.entity.mailingAdress != null}">
			<h:graphicImage value="/images/cross.png" alt="Очистить"
							width="20" height="20" title="Очистить"/>
		</a4j:commandLink>

    </h:panelGroup>
    
    <h:panelGroup >
    	<a4j:outputPanel id="mailingAddressKladrPanel">
	    	<a4j:outputPanel rendered="#{Juridicals.mailingAddressPanelVisible}">
	    		<ui:decorate template="/secure/common/kladrAddress.xhtml" >
	    			<ui:param name="id" value="mailingAddress" />
	    			<ui:param name="addressHelperBean" value="#{Juridicals.mailingAddressHelper}" />
	    		</ui:decorate>
    		</a4j:outputPanel>
    	</a4j:outputPanel>   
    </h:panelGroup>
    
    <h:panelGroup class="input-group input-group-sm">
        <h:outputLabel id="label_contactInfo" for="contactInfo_field" styleClass="input-group-addon single-column-directory-label" value="Контакты:" />
        <h:inputTextarea id="contactInfo_field" value="#{Juridicals.entity.contactInfo}" 
        	rows="5"
        	style="height: 100px;"
        	styleClass="form-control"/>
    </h:panelGroup>
    
    <h:panelGroup class="input-group input-group-sm">
        <h:outputLabel id="label_email" for="email_field" styleClass="input-group-addon single-column-directory-label" value="E-mail:" />
        <h:inputText id="email_field" value="#{Juridicals.entity.email}" styleClass="form-control"/>
    </h:panelGroup>

    <h:panelGroup class="input-group input-group-sm">
        <h:outputLabel id="label_desc" for="email_field" styleClass="input-group-addon single-column-directory-label" value="Наименование по Уставу:" />
        <h:inputText id="desc_field" value="#{Juridicals.entity.description}" styleClass="form-control"/>
    </h:panelGroup>
    
    
    <h:panelGroup class="input-group input-group-sm" rendered="#{not Juridicals.entity.persistent}">
        <h:outputLabel id="label_isEducationalInstitution" for="isEducationalInstitution_field" styleClass="input-group-addon single-column-directory-label" value="Образовательное учреждение?" />
        <h:selectBooleanCheckbox id="isEducationalInstitution_field" value="#{Juridicals.isEducationalInstitution}" label="ДОУ" >
			<a4j:ajax event="change" render="edit_dou_panel" execute="@this" 
				listener="#{Juridicals.changeObjectType}"/>
		</h:selectBooleanCheckbox>
    </h:panelGroup>
</h:panelGrid>

<a4j:outputPanel id="edit_dou_panel">

<rich:panel rendered="#{Juridicals.isEducationalInstitution}">

	<h:panelGrid id="edit_dou_grid" columns="1" 
	columnClasses="filter-rows" 
	styleClass="single-column-directory-table">
		<h:panelGroup>
			Дополнительные поля образовательного учрездения.
		</h:panelGroup>
	    <h:panelGroup class="input-group input-group-sm">
	        <h:outputLabel id="label_douNumber" for="douNumber_field" styleClass="input-group-addon single-column-directory-label" value="Номер Обр. Учреждения:" />
	        <h:inputText id="douNumber_field" styleClass="form-control" 
	        			value="#{Juridicals.entity.number}" required="false" requiredMessage="Поле 'Номер Обр. Учреждения' обязательно к заполнению."
	                     />
	    </h:panelGroup>
	    
	    <h:panelGroup class="input-group input-group-sm">
	        <h:outputLabel id="label_type" for="type_field" styleClass="input-group-addon single-column-directory-label" value="Тип Обр. Учреждения:" />
	        <h:selectOneMenu  id="type_field" styleClass="form-control" required="false" requiredMessage="Поле 'Тип Обр. Учреждения' обязательно к заполнению."
	        			value="#{Juridicals.entity.type}" layout="lineDirection">
	        		<f:selectItems value="#{Juridicals.allEducationalInstitutionTypes}" 
	        			var="type"
   						itemLabel="#{type.shortName}" 
   						itemValue="#{type}" />		
	        </h:selectOneMenu>
	    </h:panelGroup>
	  </h:panelGrid>
</rich:panel>    

<!--<a4j:log />-->
</a4j:outputPanel>

</ui:composition>