<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:a4j="http://richfaces.org/a4j"
                xmlns:rich="http://richfaces.org/rich">
    <rich:column id="contractorType" styleClass="small_column">
        <f:facet name="header">
            <h:outputText id="contractorType_header" value="Тип"/>
        </f:facet>
        <h:outputText value="#{ent.contractorType.description}"/>
    </rich:column>
    <rich:column id="name" styleClass="large_column">
        <f:facet name="header">
            <h:outputText id="name_header" value="Название"/>
        </f:facet>
        <h:outputText value="#{ent.name}"/>
    </rich:column>
    <rich:column id="inn" styleClass="small_column">
        <f:facet name="header">
            <h:outputText id="inn_header" value="ИНН"/>
        </f:facet>
        <h:outputText value="#{ent.inn}"/>
    </rich:column>
    <rich:column id="ogrn" styleClass="small_column">
        <f:facet name="header">
            <h:outputText id="ogrn_header" value="ОГРН" />
        </f:facet>
        <h:outputText value="#{ent.ogrn}"/>
    </rich:column>
    <rich:column id="registration_address" styleClass="large_column">
        <f:facet name="header">
            <h:outputText id="registration_address_header" value="Адрес регистрации"/>
        </f:facet>
        <h:outputText value="#{ent.registeredOffice}"/>
    </rich:column>
    <rich:column id="contacts" styleClass="small_column">
        <f:facet name="header">
            <h:outputText id="contacts_header" value="Контакты"/>
        </f:facet>
        <h:outputText value="#{ent.contactInfo}"/>
    </rich:column>
    <rich:column id="desc" styleClass="large_column">
        <f:facet name="header">
            <h:outputText id="desc_header" value="Наименование по Уставу"/>
        </f:facet>
        <h:outputText value="#{ent.description}"/>
    </rich:column>
</ui:composition>