<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:a4j="http://richfaces.org/a4j"
                xmlns:rich="http://richfaces.org/rich">
    <h:panelGroup class="input-group input-group-sm">
        <h:outputLabel id="label_filter_name" for="name_filter_field" styleClass="input-group-addon" value="Название :" />
        <h:inputText id="name_filter_field" value="#{bean.nameFilter}" styleClass="form-control"/>
    </h:panelGroup>

    <h:panelGroup class="input-group input-group-sm">
        <h:outputLabel id="label_filter_inn" for="inn_filter_field" value="ИНН :" styleClass="input-group-addon" />
        <h:inputText id="inn_filter_field" value="#{bean.innFilter}" styleClass="form-control"
                     converterMessage="Поле ИНН может содержать только арабские цифры.">
            <f:convertNumber/>
        </h:inputText>
    </h:panelGroup>

    <!-- h:panelGroup class="input-group input-group-sm">
        <h:outputLabel id="label_filter_ogrn" for="ogrn_filter_field" value="ОГРН :" styleClass="input-group-addon" />
        <h:inputText id="ogrn_filter_field" styleClass="form-control"/>
    </h:panelGroup>

    <h:panelGroup class="input-group input-group-sm">
        <h:outputLabel id="label_filter_address" for="address_filter_field" value="Адрес :" styleClass="input-group-addon" />
        <h:inputText id="address_filter_field" styleClass="form-control" />
    </h:panelGroup>

    <h:panelGroup class="input-group input-group-sm">
        <h:outputLabel id="label_filter_contacts" for="contacts_filter_field" value="Контакты :" styleClass="input-group-addon" />
        <h:inputText id="contacts_filter_field" styleClass="form-control"/>
    </h:panelGroup-->
</ui:composition>