<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:a4j="http://richfaces.org/a4j"
                xmlns:rich="http://richfaces.org/rich">


    <h:panelGrid id="edit_grid" columns="1" 
                 columnClasses="filter-rows,filter-rows,filter-rows,filter-rows,filter-rows,filter-rows"
                 styleClass="single-column-directory-table">

        <h:panelGroup class="input-group input-group-sm">
            <h:outputLabel  for="name_field" styleClass="input-group-addon single-column-directory-label" value="Название:" />
            <h:inputText id="name_field" value="#{Products.entity.name}" styleClass="form-control" 
                         required="true" requiredMessage="Поле 'Название' обязательно к заполнению."/>
        </h:panelGroup>

        <h:panelGroup id="image_selector" class="input-group input-group-sm">
            <h:outputLabel  for="image_input" styleClass="input-group-addon single-column-directory-label" value="Образ" />
			<rich:autocomplete id="image_input_field"  mode="cachedAjax" autocompleteMethod="#{ProductImages.autocomplete}" 
						   value="#{Products.entity.image}" var="image" fetchValue="#{image.name}"  
						   layout="table" selectFirst="true" converter="ProductImageConverter" 
						   inputClass="form-control" minChars="3">
            <rich:column>
                <h:outputText value="#{image.name}" />
            </rich:column>
        </rich:autocomplete>
        </h:panelGroup>

    </h:panelGrid>
</ui:composition>