<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:a4j="http://richfaces.org/a4j"
                xmlns:rich="http://richfaces.org/rich">


	<h:panelGroup id="product_packing_edit_container_panel">
		<h:panelGrid id="product_packing_edit_panel" columns="2"  width="100%"
					 class="table-responsive" columnClasses="left-panel,right-panel">

			<h:panelGroup id="product_packing_form_panel" styleClass="text-left">
				<h:form id="entities_form">
					<a4j:outputPanel ajaxRendered="true">
						<ui:decorate template="/templates/listEditTemplate.xhtml">
							<ui:param name="bean" value="#{ProductPackings}"/>
							<ui:param name="tableColumns" value="/secure/product/product/includes/productPackingColumns.xhtml"/>
						</ui:decorate>
					</a4j:outputPanel>
				</h:form>
			</h:panelGroup>

			<h:panelGroup id="add_packing_menu" styleClass="text-right">
				<h:form id="packings_form">
					<a4j:outputPanel id="packings_form_panel" ajaxRendered="true" >
						<h:dataTable id="src" value="#{ProductPackings.availablePackings}" var="packing"
									 class="table table-hover table-striped table-bordered  table-condensed">
							<f:facet name="header">
								<h:outputText value="Доступные фасовки" />
							</f:facet>
							<rich:column id="add-pack-col" styleClass="tiny_column">
								<a4j:commandLink styleClass="no-decor action_link" action="#{ProductPackings.createAndSaveNewEntity}"
												 execute="@this" render="@form entities_form" >
									<h:graphicImage value="/images/left_arrow.jpg" alt="добавить"
													width="20" height="20" title="добавить"/>
									<f:setPropertyActionListener target="#{ProductPackings.packing}" value="#{packing}"/>
								</a4j:commandLink>
							</rich:column>
							<rich:column id="packing" styleClass="small_column">
								<h:outputText value="#{packing.name}"></h:outputText>
							</rich:column>
							<rich:column id="measure" styleClass="small_column">
								<h:outputText value="#{packing.measure.name}"></h:outputText>
							</rich:column>
						</h:dataTable>
					</a4j:outputPanel>
				</h:form>
			</h:panelGroup>
		</h:panelGrid>
	</h:panelGroup>

	<!--<rich:pickList value="{ProductPackings.currentPackings}" sourceCaption="Доступные фасовки"-->
				   <!--targetCaption="Фасовки продукта" listWidth="300px" listHeight="200px"-->
				   <!--converter="JbalanceEntityConverter">-->
		<!--<f:selectItems value="{ProductPackings.availablePackings}" var="packing"-->
					   <!--itemValue="{packing}" itemLabel="{packing.name}" />-->
	<!--</rich:pickList>-->
	<!--<h:panelGrid id="save_panel" columns="1"  width="100%"-->
				 <!--class="table-responsive" columnClasses="left-panel,right-panel">-->
		<!--<a4j:commandLink id="save_packs" styleClass="filter-button btn btn-primary"-->
						 <!--execute="@form" render="@form"-->
						 <!--action="{ProductPackings.savePackings}">-->
			<!--<h:outputText id="label_save_packs" value="Сохранить"/>-->
		<!--</a4j:commandLink>-->
	<!--</h:panelGrid>-->
</ui:composition>