<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:a4j="http://richfaces.org/a4j"
                xmlns:rich="http://richfaces.org/rich">

    <rich:column id="pack_name_column" styleClass="medium_column">
        <h:outputText value="#{ent.packing.name}"/>
    </rich:column>
    <rich:column id="pack_measure_column" styleClass="medium_column">
        <h:outputText value="#{ent.packing.measure.name}"/>
    </rich:column>

</ui:composition>
