<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:a4j="http://richfaces.org/a4j"
                xmlns:rich="http://richfaces.org/rich">
    <rich:collapsibleSubTable var="productPacking" value="#{ProductPackings.getList(ent)}" rowKeyVar="rowKey">
		<rich:column colspan="2" rowspan="#{ProductPackings.list.size()}" rendered="#{rowKey eq 0}"  styleClass="medium_column">
            <h:outputText value="Фасовки:"/>
        </rich:column>
        <rich:column styleClass="large_column" colspan="2">
            <h:outputText value="#{productPacking.packing!=null?productPacking.packing.name:null}"/>
        </rich:column>
		<rich:column styleClass="large_column" colspan="2">
            <h:outputText value="#{productPacking.packing!=null?(productPacking.packing.measure!=null?productPacking.packing.measure.name:null):null}"/>
        </rich:column>
    </rich:collapsibleSubTable>
</ui:composition>