<ui:composition template="/templates/baseTemplate.xhtml" xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:a4j="http://richfaces.org/a4j"
                xmlns:rich="http://richfaces.org/rich">
    <ui:define name="body">

        <a4j:outputPanel id="container" layout="block" >
            <div id="container-panel" class="panel panel-default">
                <div class="panel-heading">

                    <ul class="list-unstyled">
                        <li><a href="/directory/secure/juridicals/list.xhtml">Контрагенты</a></li>
                        <li><a href="/directory/secure/ageBrackets/list.xhtml">Возрастные группы</a></li>
                        <li><a href="/directory/secure/stay/list.xhtml">Режимы пребывания</a></li>
                        <li><a href="/directory/secure/productCategories/list.xhtml">Категории продуктов</a></li>
                        <li><a href="/directory/secure/netNorms/list.xhtml">Нормы нетто</a></li>
                        <li><hr/></li>

                        <li><a href="/directory/secure/product/product/list.xhtml" >Продукты</a></li>
                        <li><a href="/directory/secure/product/packing/list.xhtml" >Товары</a></li>
                        <li><a href="/directory/secure/product/trademark/list.xhtml" >Торговые марки</a></li>
                        <li><a href="/directory/secure/product/measure/list.xhtml" >Единицы измерения</a></li>
                        <li><a href="/directory/secure/product/productimage/list.xhtml" >Образы</a></li>
                    </ul>
                </div>
            </div>
        </a4j:outputPanel>

    </ui:define>        
</ui:composition>