<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:a4j="http://richfaces.org/a4j"
                xmlns:rich="http://richfaces.org/rich">


<h:panelGrid id="edit_grid" columns="1" 
columnClasses="filter-rows,filter-rows,filter-rows,filter-rows,filter-rows,filter-rows"
styleClass="single-column-directory-table">

    <h:panelGroup class="input-group input-group-sm">
        <h:outputLabel id="label_name" for="name_field" styleClass="input-group-addon single-column-directory-label" value="Название:" />
        <h:inputText id="name_field" value="#{Stay.entity.name}" styleClass="form-control" 
                     required="true" requiredMessage="Поле 'Название' обязательно к заполнению." maxlength="50" />
    </h:panelGroup>
    <h:panelGroup class="input-group input-group-sm">
        <h:outputLabel id="label_description" for="description_field" styleClass="input-group-addon single-column-directory-label" value="Описание:" />
        <h:inputTextarea id="description_field" value="#{Stay.entity.description}" 
        	rows="5"
        	style="height: 100px;" 
        	styleClass="form-control"/>
    </h:panelGroup>
    
     <h:panelGroup class="input-group input-group-sm">
        <h:outputLabel id="label_time" for="time_field" styleClass="input-group-addon single-column-directory-label" value="Время пребывания:" />
        <h:inputText id="time_field" value="#{Stay.entity.time}" styleClass="form-control"
                     required="true" requiredMessage="Поле 'время пребывания' обязательно к заполнению."
                     converter="javax.faces.Short" converterMessage="Поле 'время пребывания' может содержать только арабские цифры."/>
    </h:panelGroup>
	
     <h:panelGroup class="input-group input-group-sm">
        <h:outputLabel id="label_measure" for="measure_field" styleClass="input-group-addon single-column-directory-label" value="Единицы измерения:" />
		<rich:autocomplete id="measure_field"  mode="client" autocompleteList="#{Measures.allMeasures}" 
						   value="#{Stay.entity.measure}" var="measure" fetchValue="#{measure.name}" 
						   layout="table" selectFirst="true" converter="MeasureConverter" required="true"
						   inputClass="form-control" minChars="2"  requiredMessage="Поле 'Единицы измерения' обязательно к заполнению.">
            <rich:column>
                <h:outputText value="#{measure.name}" />
            </rich:column>
        </rich:autocomplete>
    </h:panelGroup>
    
</h:panelGrid>
</ui:composition>