<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:a4j="http://richfaces.org/a4j"
                xmlns:rich="http://richfaces.org/rich">
    
    <rich:column id="name" styleClass="large_column">
        <f:facet name="header">
            <h:outputText id="name_header" value="Название"/>
        </f:facet>
        <h:outputText value="#{ent.name}"/>
    </rich:column>
    
    <rich:column id="description" styleClass="large_column">
        <f:facet name="header">
            <h:outputText id="description_header" value="Описание"/>
        </f:facet>
        <h:outputText value="#{ent.description}"/>
    </rich:column>
    
    <rich:column id="time" styleClass="small_column">
        <f:facet name="header">
            <h:outputText id="time_header" value="Время пребывания" />
        </f:facet>
        <h:outputText value="#{ent.time}"/>
    </rich:column>
    
    
    <rich:column id="measure" styleClass="small_column">
        <f:facet name="header">
            <h:outputText id="measure_header" value="Единицы измерения" />
        </f:facet>
        <h:outputText value="#{ent.measure.name}"/>
    </rich:column>
    
</ui:composition>