<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:a4j="http://richfaces.org/a4j"
                xmlns:rich="http://richfaces.org/rich">


<h:panelGrid id="edit_grid" columns="1" 
columnClasses="filter-rows,filter-rows,filter-rows,filter-rows,filter-rows,filter-rows"
styleClass="single-column-directory-table">
	<h:panelGroup class="input-group input-group-sm">
        <h:outputLabel id="label_name" for="group_name_field"
        	styleClass="input-group-addon single-column-directory-label" value="Название группы:" />
        <h:inputText id="group_name_field" value="#{NormGroups.entity.name}" 
					 styleClass="form-control" required="true" 
					 requiredMessage="Поле 'Название группы' обязательно к заполнению."
                />
    </h:panelGroup>
	<h:panelGroup class="input-group input-group-sm">
        <h:outputLabel id="label_ageBracket" for="ageBracket_field" 
        	styleClass="input-group-addon single-column-directory-label" value="Возрастная группа:" />
        <h:selectOneMenu id="ageBracket_field" 
                         value="#{NormGroups.entity.ageBracket}" styleClass="form-control" 
                required="true" 
                requiredMessage="Поле 'Возрастная группа' обязательно к заполнению."
                converter="JbalanceEntityConverter"
                >
            <f:selectItems value="#{NormGroups.allAgeBrackets}" var="ageBracket"
        		itemLabel="#{ageBracket.name}"
        		itemValue="#{ageBracket}"
        		itemDescription="#{ageBracket.description}" />
        </h:selectOneMenu>
    </h:panelGroup>
    
    <h:panelGroup class="input-group input-group-sm">
        <h:outputLabel id="label_stay" for="stay_field" 
        	styleClass="input-group-addon single-column-directory-label" value="Режим пребывания:" />
        <h:selectOneMenu id="stay_field" 
        	value="#{NormGroups.entity.stay}" styleClass="form-control" 
                required="true" 
                requiredMessage="Поле 'Режим пребывания' обязательно к заполнению."
                converter="JbalanceEntityConverter"
            >
            <f:selectItems value="#{NormGroups.allStay}" var="stay"
        		itemLabel="#{stay.name}"
        		itemValue="#{stay}"
                        itemDescription="#{stay.description}" />
        </h:selectOneMenu>
    </h:panelGroup>
	
	<h:panelGroup class="input-group input-group-sm">
        <h:outputLabel id="label_openDate" for="openDate_field" 
        	styleClass="input-group-addon single-column-directory-label" value="Дата начала действия:" />
		<rich:calendar value="#{NormGroups.entity.openDate}" id="openDate_field" locale="ru/RU"
					 inputClass="form-control" datePattern="dd.M.yyyy" required="true" 
					 requiredMessage="Поле 'Дата начала действия' обязательно к заполнению."
					 enableManualInput="true"
					 />
    </h:panelGroup>
	
	<h:panelGroup class="input-group input-group-sm">
        <h:outputLabel id="label_closeDate" for="closeDate_field" 
        	styleClass="input-group-addon single-column-directory-label" value="Дата окончания действия:" />
        <rich:calendar value="#{NormGroups.entity.closeDate}" id="closeDate_field" locale="ru/RU"
                    inputClass="form-control" datePattern="dd.M.yyyy"
					enableManualInput="true"
					/>
    </h:panelGroup>
    
</h:panelGrid>
</ui:composition>