<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:a4j="http://richfaces.org/a4j"
                xmlns:rich="http://richfaces.org/rich">
	
	<h:panelGroup id="netnorms_edit_container_panel">
		<h:panelGrid id="netnorms_edit_panel" columns="2"  width="100%" 
					 class="table-responsive" columnClasses="left-panel,right-panel"
					 rendered="#{!GrossNorms.editState}">
			<ui:remove>
				<!--Таблица норм нетто-->
			</ui:remove>
			<h:panelGroup id="net_norms_form_panel" styleClass="text-left">
				<h:form id="entities_form">
					<a4j:outputPanel ajaxRendered="true">
						<ui:decorate template="/templates/listEditTemplate.xhtml">
							<ui:param name="bean" value="#{NetNorms}"/>
							<ui:param name="tableColumns" value="/secure/normGroups/includes/netNormsColumns.xhtml"/>
						</ui:decorate>
					</a4j:outputPanel>
				</h:form>
			</h:panelGroup>
			<ui:remove>
				<!--Список категорий продуктов-->
			</ui:remove>
			<h:panelGroup id="add_group_menu" styleClass="text-right">
				<h:form id="products_form">
					<a4j:outputPanel id="products_form_panel" ajaxRendered="true" >	
						<h:dataTable id="src" value="#{NetNorms.productCategories}" var="productCategory"
									 class="table table-hover table-striped table-bordered  table-condensed">
							<f:facet name="header">
								<h:outputText value="Категории продуктов" />
							</f:facet>
							<rich:column id="add-norm-col" styleClass="tiny_column">
								<a4j:commandLink styleClass="no-decor action_link" action="#{NetNorms.addNotPersistent}" 
												 execute="@this" render="@form entities_form" >
									<h:graphicImage value="/images/left_arrow.jpg" alt="добавить" 
													width="20" height="20" title="добавить"/>
									<f:setPropertyActionListener target="#{NetNorms.productCategory}" value="#{productCategory}"/>
								</a4j:commandLink>
							</rich:column>
							<rich:column id="product_category" styleClass="small_column">
								<h:outputText value="#{productCategory.name}"></h:outputText>
							</rich:column>
						</h:dataTable>
					</a4j:outputPanel>
				</h:form>										
			</h:panelGroup>
		</h:panelGrid>
	</h:panelGroup>
	<h:form id="gross_norms_form">
		<a4j:outputPanel ajaxRendered="true" id="gross_norms_form_panel">
			<h:panelGroup id="gross_norms_panel" rendered="#{GrossNorms.editState}" >
				<h:outputText value="Нормы брутто для категории продуктов &quot;#{GrossNorms.netNorm.productCategory.name}&quot; "/>
				<ui:decorate template="/templates/listEditTemplate.xhtml"> 
					<ui:param name="bean" value="#{GrossNorms}"/>
					<ui:param name="tableColumns" value="/secure/normGroups/includes/grossNormsColumns.xhtml"/>
				</ui:decorate>
				<h:panelGrid id="grossnorms_edit_panel" columns="2"  width="100%"
							 class="table-responsive" columnClasses="left-panel,right-panel">
					<a4j:commandLink id="add_row" styleClass="filter-button btn btn-primary" 
									 execute="@this" render="@form"
									 action="#{GrossNorms.addNotPersistent}">
						<h:outputText id="label_add_row" value="Добавить запись"/>
					</a4j:commandLink>
					<a4j:commandLink id="back_to_netnorms" styleClass="filter-button btn btn-primary" 
									 execute="@this" render="rendered_norms_edit_container products_form entities_form"
									 action="#{GrossNorms.finishEditGrossNorms()}">
						<h:outputText id="label_back_to_netnorms" value="Готово"/>
					</a4j:commandLink>
				</h:panelGrid>
			</h:panelGroup>	
		</a4j:outputPanel>
	</h:form>
					
</ui:composition>