<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:a4j="http://richfaces.org/a4j"
                xmlns:rich="http://richfaces.org/rich">
    
   
    <rich:column id="group_name" styleClass="medium_column">
        <f:facet name="header">
            <h:outputText id="group_name_header" value="Название группы"/>
        </f:facet>
        <h:outputText value="#{ent.name}"/>
    </rich:column>
	
    <rich:column id="ageBracket" styleClass="medium_column">
        <f:facet name="header">
            <h:outputText id="ageBracket_header" value="Возрастная группа"/>
        </f:facet>
        <h:outputText value="#{ent.ageBracket.name}"/>
    </rich:column>
    
    <rich:column id="stay" styleClass="small_column">
        <f:facet name="header">
            <h:outputText id="stay_header" value="Режим пребывания" />
        </f:facet>
        <h:outputText value="#{ent.stay.time}#{ent.stay.measure.rusShortName1}"/>
    </rich:column>
    
	<rich:column id="openDate" styleClass="medium_column">
        <f:facet name="header">
            <h:outputText id="openDate_header" value="Дата начала действия" />
        </f:facet>
        <h:outputText value="#{ent.formattedOpenDate}"/>
    </rich:column>

	<rich:column id="closeDate" styleClass="medium_column">
        <f:facet name="header">
            <h:outputText id="closeDate_header" value="Дата окончания действия" />
        </f:facet>
        <h:outputText value="#{ent.formattedCloseDate}"/>
    </rich:column>

</ui:composition>