<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:a4j="http://richfaces.org/a4j"
                xmlns:rich="http://richfaces.org/rich">

    <rich:column id="startMonth" styleClass="small_column">
        <f:facet name="header">
            <h:outputText id="startMonth_header" value="Месяц начала действия" />
        </f:facet>
        <rich:inplaceSelect id="select_startMonth" required="true" openOnEdit="true" 
							editEvent="dblclick" saveOnBlur="true"
                            styleClass="form-control" value="#{ent.startMonth}">
            <f:selectItems value="#{GrossNorms.monthList}"/>
			<a4j:ajax event="change" listener="#{GrossNorms.setEntity(ent)}" />  
            <a4j:ajax event="change" listener="#{GrossNorms.modifyAction}" render="@form" execute="@form"/>
        </rich:inplaceSelect>
    </rich:column>
    
    <rich:column id="endMonth" styleClass="small_column">
        <f:facet name="header">
            <h:outputText id="endMonth_header" value="Месяц окончания действия" />
        </f:facet>
        <rich:inplaceSelect id="select_endMonth" required="true" openOnEdit="true" 
							editEvent="dblclick" saveOnBlur="true"
                            styleClass="form-control" value="#{ent.endMonth}">
			<f:selectItems value="#{GrossNorms.monthList}"/>
			<a4j:ajax event="change" listener="#{GrossNorms.setEntity(ent)}" />  
            <a4j:ajax event="change" listener="#{GrossNorms.modifyAction}" render="@form" execute="@form"/>
        </rich:inplaceSelect>
    </rich:column>
    
    <rich:column id="gross_norms_quantity" styleClass="small_column">
        <f:facet name="header">
            <h:outputText id="quantity_header" value="количество" />
        </f:facet>
        <rich:inplaceInput styleClass="form-control" value="#{ent.quantity}"
						   editEvent="dblclick" saveOnBlur="true">
			<a4j:ajax event="change" listener="#{GrossNorms.setEntity(ent)}" />  
            <a4j:ajax event="change" listener="#{GrossNorms.modifyAction}" render="@form" execute="@form"/>
		</rich:inplaceInput>
    </rich:column>
</ui:composition>