<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:a4j="http://richfaces.org/a4j"
                xmlns:rich="http://richfaces.org/rich">
    <rich:column id="productCategory" styleClass="medium_column">
        <f:facet name="header">
            <h:outputText id="productCategory_header" value="Категория продукта"/>
        </f:facet>
        <h:outputText value="#{ent.productCategory.name}"/>
    </rich:column>

    <rich:column id="quantity" styleClass="small_column">
        <f:facet name="header">
            <h:outputText id="quantity_header" value="количество" />
        </f:facet>
        <rich:inplaceInput styleClass="form-control" value="#{ent.quantity}" editEvent="dblclick" saveOnBlur="true">
            <a4j:ajax event="change" listener="#{NetNorms.setEntity(ent)}" />  
            <a4j:ajax event="change" render="@form" listener="#{NetNorms.modifyAction}" execute="@form"/>  
        </rich:inplaceInput>
    </rich:column>
    
    <rich:column id="measure" styleClass="small_column">
        <f:facet name="header">
            <h:outputText id="measure_header" value="единицы измерения" />
        </f:facet>
		<a4j:commandLink id="measure_output" styleClass="no-decor action_link" execute="@this" 
						 render="@none" limitRender="true" value="#{ent.measure.name}" style="display: block; width: 100%; height: 30px"
						 ondblclick="
								#{rich:element('measure_input_field')}.style.display='';
								#{rich:element('measure_output')}.style.display='none';
								document.getElementById('#{rich:clientId('measure_input_field')}Input').focus();
								document.getElementById('#{rich:clientId('measure_input_field')}Input').select();"
					>
			<f:setPropertyActionListener target="#{ent.measure}" value="#{null}"/>
		</a4j:commandLink>
		<rich:autocomplete id="measure_input_field"  mode="client" autocompleteList="#{Measures.allMeasures}"
						   value="#{ent.measure}" var="measure" fetchValue="#{measure.name}"  
						   layout="table" selectFirst="true" converter="MeasureConverter" 
						   inputClass="form-control" minChars="2" style="display:none"
						   onblur="
						   #{rich:element('measure_input_field')}.style.display='none';
						   #{rich:element('measure_output')}.style.display='block';
							#{rich:element('measure_output')}.style.width='100%';
							#{rich:element('measure_output')}.style.display='30px';">
            <rich:column>
                <h:outputText value="#{measure.name}" />
            </rich:column>
			<a4j:ajax event="selectitem" listener="#{NetNorms.setEntity(ent)}" />  
            <a4j:ajax event="selectitem" listener="#{NetNorms.modifyAction}" 
					  render="@form" execute="@form" limitRender="true"/>
        </rich:autocomplete>
    </rich:column>
    
    <rich:column id="gross_norms" styleClass="medium_column">
        <f:facet name="header">
            <h:outputText id="gross_norms_header" value="нормы брутто" />
        </f:facet>
		<a4j:outputPanel rendered="#{ent.isPersistent()}">
			<h:panelGrid id="gross_norms_values" columns="2"  width="100%"
						 class="table-responsive" columnClasses="left-panel,right-panel">
				<h:panelGroup>
					<h:outputText id="gross_norms_value" value="#{NetNorms.getGrossNormsAsString(ent)}" escape="false"/>
				</h:panelGroup>
				<h:panelGroup>
					<a4j:commandLink styleClass="no-decor action_link" execute="@this" 
									 action="#{GrossNorms.startEditingGrossNorms}" render="netnorms_edit_container_panel"
									 >
						<h:graphicImage value="/images/edit_small.png" alt="Редактировать" 
										width="20" height="20" title="Редактировать"/>
						<f:setPropertyActionListener target="#{NetNorms.entity}" value="#{ent}"/>
					</a4j:commandLink>
				</h:panelGroup>
			</h:panelGrid>
		</a4j:outputPanel>
    </rich:column>
</ui:composition>
