html, body {
    width:100%; 
    height:100%;
}

body{ 
    background:#333333;
    font:13px Trebuchet MS, Arial, Helvetica, Sans-Serif;
    color:#333;
    line-height:160%;
    margin:0;
    padding:0;
    text-align:left;
    background-image:url(/directory/images/background.png);
    background-repeat:repeat;
}

fieldset{
    padding: 10px;
    margin: 5px 0px;
}
.centered-div-container{
    width: 100%;
    height:100%;
    -ms-flex-pack:center;
    -ms-flex-align:center;
    -moz-box-pack:center;
    -moz-box-align:center;
    -webkit-box-pack:center;
    -webkit-box-align:center;
    border: none 0px;
}

.small-margin-vert{
    margin: 4px 0px;
}

.ds-block{
    display: block;
}

.round-border {
    -moz-border-radius: 15px !important;
    border-radius: 15px !important;
}

.block{
    background: none repeat scroll 0 0 #EEEEEE;
    font-size: 10px;
    margin-bottom: 20px;
    overflow: hidden;
    padding: 10px 0;
    text-align: center;
    border: 1px solid #EEEEEE;
}

.workflow-container{
    font-size: 10px;
    margin-bottom: 20px;
    padding: 10px 0;
    text-align: center;
    border: 1px solid #EEEEEE;
    background: none repeat scroll 0 0 #008080;
    -moz-border-radius: 15px !important;
    border-radius: 15px !important;
}

.action-container{
    font-size: 14px;
    margin-bottom: 2px;
    padding: 15px 0;
    text-align: center;
    border: 1px solid #EEEEEE;
    background: none repeat scroll 0 0 #99CCFF;
    -moz-border-radius: 15px !important;
    border-radius: 15px !important;
    margin: 15px 0px;
}

.micro-left-padding{
    padding-left: 1px;
}

.line{
    border-bottom: 1px solid black; 
    margin-top: -20px;
}

.vertical-line{
    transform:rotate(90deg);
    -ms-transform:rotate(90deg); 
    -webkit-transform:rotate(90deg); 
}

#between_menu_line{
    margin: 41px -115px 0px -19px;
}
#between_menu_arrow{
    margin: 37px 0px 0px 95px;
}

#between_menu_arrow_calories{
    margin: 37px 0px 0px 5px;
}

.arrow-right{
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 5px 0 5px 10px;
    border-color: transparent transparent transparent #000000;
    float:left;
}

.hidden{
    visibility: hidden;
}

.small-padding{
    padding: 4px;
}

.filter-rows{
    padding: 2px 15px 2px 2px;
}

.filter-button{
    margin: 0px 4px 0px 0px;
    color: #FFFFFF !important;
}

.buttons-wrapper{
    margin: 4px 2px;
    border: none 0px;
}

.background{
    background: #f5f5f5 no-repeat scroll 0 0;
}

.no-padding{
    padding: 0px !important;
}

.dropdown-toggle{
    padding: 10px 15px 10px 0px !important;
}

.rf-dt-shdr-c{
    padding: 4px;
    vertical-align: middle !important;
    background: none #fcf8e3 no-repeat scroll 0 0 !important;
    font-size: 14px !important;
    font-weight: bold !important;
    color: #555 !important;
}

.num_column{
    width: 35px;
}

.tiny_column{
    width: 60px;
}

.small_column{
    width: 100px;
}

.medium_column{
    width: 200px;
}

.large_column{
    width: 300px;
}

.giant_column{
    width: 500px;
}

#main_menu_bar {
    margin:  6px 0px 20px;
}

#panel-body-content{
    padding: 10px 15px;
}

#entities{
    margin-top: 15px;
    padding-top: 15px;
    border-top: 1px #DDDDDD solid;
}

.rf-dt-c{
    font-size: 12px !important;
}

.rf-ds-act{
    background-color: #99CCFF !important;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
    background-color: rgb(217, 237, 247);
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus{
    background-color: rgb(248, 248, 248);;
}

.messages{
    font-size: 14px !important;
}

.rf-msg-err, .rf-msgs-err{
    background-image: url("/directory/images/error_small.png") !important;
}

.rf-msg-sum, .rf-msgs-sum{
    padding: 0px 0px 0px 6px !important;
}

.rf-msg-inf, .rf-msgs-inf{
    background-image: url("/directory/images/ok_small.png") !important;
}

.action_link{
    margin: 0px 10px 0px 0px;
}

.caption{
    font-size: 16px;
}

.single-column-directory-label{
	font-weight: bold;
    min-width: 220px;
    text-align: left;
}

.single-column-directory-table{
	min-width: 800px;
}
.single-column-directory-table .form-control{
	width: 80%;
}

.left-panel{
	vertical-align: top;
	width: 75%
}

.right-panel{
	vertical-align: top;
	width: 22%
}
